# Build & dependency folders
.astro/
node_modules/

# VSCode settings
.vscode/

# Environment files
.env

# Analytics-related folders
src/page/analytics/
src/components/analytics/
src/components/content/analytics/