---
import { APP_BLOG } from "nhavantuonglai:config";
import Grid from "~/components/article/grid.astro";
import { getBlogPermalink } from "~/utils/permalinks";
import { findLatestPosts } from "~/utils/blog";
import Wrapper from "~/components/ui/wrapper.astro";
import type { Widget } from "~/types";

import { Slideup } from '~/assets/framer.jsx';

export interface Props extends Widget {
	title?: string;
	linkText?: string;
	linkUrl?: string | URL;
	count?: number;
}

const {
	title = await Astro.slots.render("title"),
	linkText = "Đọc thêm",
	linkUrl = getBlogPermalink(),
	count = 12,
	id,
	bg = await Astro.slots.render("bg"),
} = Astro.props;

const posts = APP_BLOG.isEnabled ? await findLatestPosts({ count }) : [];
---

<Slideup client:visible>

	{APP_BLOG.isEnabled && (

		<Wrapper id={id} class="mb-6 md:mb-62 relative mx-auto max-w-7xl px-4 md:px-6 text-default" bg={bg}>

			<h2>Bài viết xuất bản gần đây</h2>

			<Grid posts={posts} />

			<a class="btn" href="https://nhavantuonglai.com/article">
				Đọc thêm
			</a>

		</Wrapper>

	)}

</Slideup>