---
import { Icon } from 'astro-icon/components';
import { getPermalink } from '~/utils/permalinks';
import Button from '~/components/ui/button.astro';

export interface Props {
	prevUrl?: string;
	nextUrl?: string;
	prevText?: string;
	nextText?: string;
}

const { prevUrl, nextUrl, prevText = 'Mới hơn', nextText = 'Cũ hơn' } = Astro.props;
---

{

	(prevUrl || nextUrl) && (

		<div class="container flex">

			<div class="flex flex-row mx-auto justify-between">

			{prevUrl && (

				<a 
					href={getPermalink(prevUrl)} 
					class="btn"
					variant="link"
				>

					<Icon name="tabler:chevron-left" class="w-6 h-6" />
					<span class="ml-2">{prevText}</span>

				</a>

			)}

			{nextUrl && (

				<a 
					href={getPermalink(nextUrl)} 
					class="btn"
					variant="link"
				>

					<span class="mr-2">{nextText}</span>
					<Icon name="tabler:chevron-right" class="w-6 h-6" />

				</a>

			)}

			</div>

		</div>

	)

}