---
import Table from '~/components/javascript/table.astro';
---

<Table/>

<div class="max-w-3xl mx-auto mt-6 mb-6 px-4 sm:px-6 text-xl text-muted md:text-2xl text-muted dark:text-slate-400 text-justify" id="index"></div>