---
import { getPermalink } from '~/utils/permalinks';
import { APP_BLOG } from 'nhavantuonglai:config';
import type { Post } from '~/types';

export interface Props {
	tags?: string[];
	class?: string;
	title?: string;
}

const { 
	tags, 
	class: text = 'text-sm', 
	title 
} = Astro.props;
const commonClasses = "bg-gray-100 inline-block mr-2 rtl:mr-0 rtl:ml-2 mb-6 py-0.5 px-2 lowercase font-medium";
---

{tags && tags.length > 0 && (

	<>

		{title && <span class="align-super font-normal underline underline-offset-4 decoration-2">{title}</span>}

		<ul class={text}>

			{tags.map((tag) => (
				<li class={commonClasses}>
					{APP_BLOG.tag?.isEnabled ? (

						<a
							href={getPermalink(tag, 'tag')}
							class="text-xl text-muted dark:text-slate-300 hover:text-primary"
							target="_blank"
						>

							{tag}

						</a>
					) : (
						tag
					)}
				</li>
			))}

		</ul>

	</>

)}