---
import Services from '~/components/widgets/services.astro';
---

<Services

	title="Dịch vụ cung cấp"

	isReversed

	items={[
		{
		title: 'Nội dung hấp dẫn với người đọc',
		description:
			'Nội dung viết của @nhavantuonglai luôn được chú trọng để đem lại trải nghiệm đọc tốt nhất, không chỉ hấp dẫn về mặt nội dung mà còn mạch lạc trong trình bày.',
		},

		{
		title: 'Nội dung đáp ứng thuật toán SEO',
		description:
			'Không chỉ đáp ứng trải nghiệm đọc, các sản phẩm content của @nhavantuonglai còn đáp ứng tốt các thuật toán, tiêu chí SEO của công cụ tìm kiếm, giúp website của bạn dễ dàng leo lên top tìm kiếm.',
		},

	]}

	image={{
		src: 'https://banmaixanh.org/image/cover/001-480.jpg',
		alt: 'copywriter',
	}}
	>

	<Fragment slot="content">

		<h3>Dịch vụ viết bài chất lượng cao</h3>
		<p>Dịch vụ viết bài chất lượng cao của nhavantuonglai được thiết kế để cung cấp nội dung chất lượng cao. Điều này giúp tăng lượng truy cập vào website của bạn, cải thiện tỷ lệ chuyển đổi và tạo ra giá trị dài hạn cho doanh nghiệp.</p>

	</Fragment>

</Services>