---
import Services from '~/components/widgets/services.astro';
---

<Services

	items={[
		{
		title: 'Tư vấn giải pháp phù hợp với từng doanh nghiệp',
		description:
			'Dựa trên quy mô, mục tiêu và tầm nhìn của doanh nghiệp để đề xuất ra các chiến lược, kế hoạch Marketing tương ứng, phù hợp để đem lại hiệu quả tốt nhất',
		},
		{
		title: 'Triển khai giải pháp kết hợp nhiều công cụ',
		description:
			'Thông qua kế hoạch và tầm nhìn để thực hiện các hoạt động, hành động tương ứng nhằm hiện thực hóa các kế hoạch, giúp đảm bảo doanh nghiệp tăng độ phủ và chuyển đổi thành công.',
		},
	]}

	image={{
		src: 'https://banmaixanh.vercel.app/image/cover/001-502.jpg',
		alt: 'marketing',
	}}
	>

	<Fragment slot="content">

		<h3>Dịch vụ tư vấn và thực thực hiện chiến lược Marketing</h3>
		<p>Dịch vụ tư vấn, triển khai Marketing là gói các dịch vụ của nhavantuonglai liên quan đến hoạt động Marketing, phù hợp với các doanh nghiệp quy mô nhỏ, startup chưa có nhiều kinh nghiệm trong lĩnh vực này.</p>

	</Fragment>

</Services>