---
import Services from '~/components/widgets/services.astro';
---

<Services

	isReversed

	items={[
		{
		title: 'Tìm kiếm, giải quyết các vấn đề SEO đang gặp phải',
		description:
			'nhavantuonglai có đội ngũ chuyên gia SEO giàu kinh nghiệm, sẵn sàng giải quyết mọi vấn đề liên quan đến SEO của website.  Bằng kế hoạch cải thiện SEO, website của bạn sẽ trở nên thân thiện, tải nhanh và thu hút người đọc nhiều hơn.',
		},
		{
		title: 'Đề xuất, hoàn thiện tiêu chuẩn SEO áp dụng sau này',
		description:
			'Không chỉ dừng lại ở việc khắc phục các vấn đề hiện có, mà còn là đề xuất và hoàn thiện các tiêu chuẩn SEO cho website của bạn, để website của bạn không chỉ đạt chuẩn mà còn duy trì thứ hạng cao một cách bền vững.',
		},
	]}

	image={{
		src: 'https://banmaixanh.vercel.app/image/cover/001-741.jpg',
		alt: 'website-chuan-seo',
	}}
	>

	<Fragment slot="content">

		<h3>Dịch vụ tư vấn và thực hiện chiến lược SEO</h3>
		<p>Dịch vụ tối ưu website chuẩn SEO của nhavantuonglai được thiết kế để giúp các doanh nghiệp giải quyết triệt để các vấn đề về SEO.  Dịch vụ không chỉ giúp website của bạn đạt chuẩn SEO mà còn duy trì và nâng cao hiệu quả SEO trong thời gian dài.</p>

	</Fragment>

</Services>