---
import Services from '~/components/widgets/services.astro';
---

<Services

	items={[
		{
		title: 'Giao diện hiện đại trong mắt người dùng',
		description:
			'nhavantuonglai luôn chú trọng đến việc tạo ra những giao diện website hiện đại, bắt mắt và thân thiện với người dùng. Giao diện thân thiện không chỉ giữ chân người dùng lâu hơn mà còn tạo ấn tượng tốt, giúp tăng cơ hội chuyển đổi.',
		},
		{
		title: 'Cấu trúc đảm bảo tối ưu SEO',
		description:
			'Tất cả các website do nhavantuonglai thiết kế đều được tối ưu hóa để đáp ứng các yêu cầu của thuật toán SEO. Website tối ưu hóa SEO không chỉ giúp tăng lượng truy cập mà còn cải thiện hiệu suất kinh doanh trực tuyến.',
		},
	]}

	image={{
		src: 'https://banmaixanh.org/image/cover/001-757.jpg',
		alt: 'website',
	}}
	>

	<Fragment slot="content">

		<h3>Dịch vụ tư vấn và thiết kế website chuẩn SEO</h3>
		<p>Dịch vụ thiết kế website chuẩn SEO của nhavantuonglai được tạo ra để giúp doanh nghiệp có một website không chỉ đẹp mắt mà còn tối ưu hóa cho các công cụ tìm kiếm, và tăng cường sự hiện diện trực tuyến và thu hút khách hàng tiềm năng.</p>

	</Fragment>

</Services>