---
import CTA from '~/components/widgets/services.astro';
---

<CTA

	title="Về tác giả"

	callToAction={{
		text: 'Nhắn tin',
		href: 'https://www.instagram.com/nhavantuonglai',
	}}

	image={{
		src: 'https://banmaixanh.vercel.app/image/member/nguyen-chanh-danh.jpg',
		alt: 'Văn hay trong hiện tại, chữ tốt ở tương lai.',
		title: 'Văn hay trong hiện tại, chữ tốt ở tương lai.'
	}}
>

	<Fragment slot="content">

		<p>Bài được viết, biên tập bởi nhavantuonglai, là chàng trai thích viết lách, đọc sách và chụp ảnh. Thông qua website cá nhân, cậu ấy chia sẻ suy nghĩ, cảm xúc và những mối quan tâm bằng ngôn từ, hình ảnh.</p>

		<p>Khi viết, cậu ấy sẽ hướng vào bên trong để kết nối cảm xúc mà tạo ra động lực viết, và hướng ra bên ngoài để ngôn từ được chỉnh chu và trọn vẹn nhất có thể.</p>

		<p>Bài viết bị giới hạn quyền sao chép, nếu bạn cần toàn văn để sử dụng cho mục đích cá nhân, học tập hoặc nghiên cứu, vui lòng liên hệ theo thông tin dưới đây.</p>

	</Fragment>

</CTA>