---
import Hero from '~/components/widgets/hero.astro';
---


<Hero

	title="Lỗi 404 đã xuất hiện."
	subtitle="Một hoặc nhiều lỗi liên quan đến dữ liệu website đã xảy ra. Hãy liên hệ với quản trị viên để được hỗ trợ tốt nhất. Tự động chuyển về trang chủ sau <span id='countdown'>5</span> giây."
	image="https://banmaixanh.vercel.app/image/cover/001-699.jpg"
/>

<script>

	let timeLeft = 5;
	const countdownElement = document.getElementById('countdown');
	
	const countdownInterval = setInterval(() => {
		timeLeft -= 1;
		
		if (countdownElement) {
			countdownElement.textContent = timeLeft;
		}
		
		if (timeLeft <= 0) {
			clearInterval(countdownInterval);
			window.location.href = 'https://nhavantuonglai.com';
		}
	}, 1000);

</script>