---
import { Icon } from 'astro-icon/components';
import { SITE } from 'nhavantuonglai:config';
import { getHomePermalink } from '~/utils/permalinks';

interface Link {
	text?: string;
	href?: string;
	ariaLabel?: string;
	icon?: string;
}

interface Links {
	title?: string;
	links: Array<Link>;
}

export interface Props {
	links: Array<Links>;
	secondaryLinks: Array<Link>;
	socialLinks: Array<Link>;
	footNote?: string;
}

const { socialLinks = [], secondaryLinks = [], links = [], footNote = '' } = Astro.props;
---

<footer class="relative not-prose bg-white border-t border-gray-200">

	<div class="max-w-7xl mx-auto px-4 sm:px-6 pb-12">
		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10">

			{links.map(({ title, links }) => (

				<div class="p-6 rounded-lg w-full transition-all hover:shadow-lg">

					{title && <p class="text-xl font-semibold text-gray-900 mb-4">{title}</p>}
					<ul class="space-y-2">
						{links.map(({ text, href, ariaLabel }) => (

							<li>

								<a class="text-sm text-gray-600 hover:text-primary transition-all duration-300" href={href} target="_blank" aria-label={ariaLabel}>

									<Fragment set:html={text}/>

								</a>

							</li>

						))}

					</ul>
				</div>

			))}

		</div>
	</div>

</footer>

<script>
	document.addEventListener('astro:page-load', () => {
		const details = document.querySelectorAll('details');
		details.forEach((detail) => {
			detail.addEventListener('click', () => {
				if (!detail.open) {
					details.forEach((otherDetail) => otherDetail !== detail && otherDetail.removeAttribute('open'));
				}
			});
		});
	});
</script>