---
import Button from '~/components/ui/button.astro';
import CTA from '~/components/widgets/services.astro';
import FAQ from '~/components/widgets/faq.astro';

---

<section class="relative md:-mt-[76px] not-prose">
	<div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>
		<div class="relative max-w-7xl mx-auto">
			<div class="pt-0 md:pt-[120px] pointer-events-none"></div>

				<CTA

					callToAction={{
						text: 'Nhắn tin',
						href: 'https://info.nhavantuonglai.com/instagram',
					}}


					items={[
						{
						title: 'Thống kê, tổng hợp dữ liệu',
						description:
							'Giúp phân tích tần suất xuất hiện giá trị giúp phân tích số liệu lớn một cách nhanh chóng và chính xác.',
						icon: 'tabler:bell-school',
						},
						{
						title: 'Hỗ trợ giải mật mã thay thế',
						description:
							'Dựa vào khả năng thống kê tần suất văn bản, kết hợp cùng suy đoán để đưa ra ngữ cảnh, kết cấu chữ phù hợp để hoàn diễn dịch ra nội dung gốc.',
						icon: 'tabler:brand-codecov',
						},
					]}

					image={{
						src: 'https://data.nhavantuonglai.com/image/illustrations/cover-nhavantuonglai-com-0324.jpg',
						alt: 'nhan-tin-instagram',
					}}
				>

					<Fragment slot="content">
						Công cụ đếm tần suất văn bản là công cụ xử lý dữ liệu, cho phép người dùng kiểm tra số lần xuất hiện của một giá trị cụ thể trong đoạn văn.
					</Fragment>

				</CTA>
		</div>
</section>

<FAQ

	items={[

		{
		title: 'Sử dụng công cụ như thế nào?',
		description: 'Để sử dụng công cụ đếm tần suất xuất hiện giá trị, bạn có thể nhập, hoặc dán trực tiếp dữ liệu vào ô điền thông tin, sau đó click chọn Chuyển đổi để nhận kết quả ngay lập tức.',
		icon: 'tabler:chevrons-right',
		},

		{
		title: 'Có giới hạn khi sử dụng công cụ không?',
		description: `Công cụ đếm tần suất xuất hiện giá trị không giới hạn số lần sử dụng, tuy nhiên nếu dữ liệu quá lớn thì có thể làm chậm tiến trình đưa ra kết quả.`,
		icon: 'tabler:chevrons-right',
		},

		{
		title: 'Những giải pháp thay thế khác phù hợp để giải quyết yêu cầu đếm tần suất xuất hiện giá trị',
		description: 'Một số giải pháp thay thế bao gồm các ngôn ngữ lập trình như Python hoặc R, có các thư viện mạnh mẽ hỗ trợ đếm tần suất xuất hiện của giá trị.',
		icon: 'tabler:chevrons-right',
		},

		{
		title: 'Cách để liên lạc, hỗ trợ và góp ý hoàn thiện công cụ',
		description: 'Nếu bạn có bất kỳ câu hỏi nào hoặc cần hỗ trợ thêm về công cụ đếm tần suất xuất hiện giá trị, đừng ngần ngại liên hệ với nhavantuonglai qua email info@nhavantuonglai.com.',
		icon: 'tabler:chevrons-right',
		},

	]}

>