---
import Button from '~/components/ui/button.astro';
import CTA from '~/components/widgets/services.astro';
import FAQ from '~/components/widgets/faq.astro';

---

<section class="relative md:-mt-[76px] not-prose">
	<div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>
		<div class="relative max-w-7xl mx-auto">
			<div class="pt-0 md:pt-[120px] pointer-events-none"></div>

				<CTA

					callToAction={{
						text: 'Nhắn tin',
						href: 'https://info.nhavantuonglai.com/instagram',
					}}


					items={[
						{
						title: 'Highlight các tiêu đề',
						description:
							'Giúp tùy biến văn bản thô thành các kiểu chữ mới, độc đáp và đẹp mắt để tạo highlight, tăng nổi bật cho bài viết Facebook cũng như các mạng xã hội khác.',
						icon: 'tabler:bell-school',
						},
						{
						title: 'Chuẩn hóa văn bản',
						description:
							'Giúp chuẩn hóa dữ liệu, chuyển văn bản Unicode thành văn bản thô, giao tiếp hiệu quả và chính xác giữa người dùng và các hệ thống, nền tảng hơn.',
						icon: 'tabler:brand-codecov',
						},
					]}

					image={{
						src: 'https://nhavantuonglai.com/image/cover/001-357.jpg',
						alt: 'nhan-tin-instagram',
					}}
				>

					<Fragment slot="content">
						Công cụ chuyển đổi font chữ Facebook giúp người dùng chuẩn hóa, chuyển hóa dữ liệu đầu ra, phục vụ cho các mục đích nghiên cứu, marketing.
					</Fragment>

				</CTA>
		</div>
</section>

<FAQ

	items={[

		{
		title: 'Sử dụng công cụ như thế nào?',
		description: 'Để sử dụng công cụ chuyển đổi văn bản Unicode, bạn có thể nhập, hoặc dán trực tiếp dữ liệu vào ô điền thông tin, sau đó click chọn Chuyển đổi để nhận kết quả ngay lập tức.',
		icon: 'tabler:chevrons-right',
		},

		{
		title: 'Có giới hạn khi sử dụng công cụ không?',
		description: `Công cụ chuyển đổi văn bản Unicode không giới hạn số lần sử dụng, tuy nhiên nếu dữ liệu quá lớn thì có thể làm chậm tiến trình đưa ra kết quả.`,
		icon: 'tabler:chevrons-right',
		},

		{
		title: 'Những giải pháp thay thế khác phù hợp để giải quyết yêu cầu chuyển đổi văn bản Unicode',
		description: 'Một số giải pháp thay thế bao gồm các ngôn ngữ lập trình như Python hoặc R, có các thư viện mạnh mẽ hỗ trợ đếm tần suất xuất hiện của giá trị.',
		icon: 'tabler:chevrons-right',
		},

		{
		title: 'Cách để liên lạc, hỗ trợ và góp ý hoàn thiện công cụ',
		description: 'Nếu bạn có bất kỳ câu hỏi nào hoặc cần hỗ trợ thêm về công cụ chuyển đổi văn bản Unicode, đừng ngần ngại liên hệ với nhavantuonglai qua email info@nhavantuonglai.com.',
		icon: 'tabler:chevrons-right',
		},

	]}

>