---
import Button from './components/ui/button.astro';
import CTA from './components/widgets/services.astro';

---

<h2 class="mx-auto max-w-7xl md:px-6 leading-tighter text-center text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-6 font-heading">Đăng ký nhận bảng tin hàng tuần</h2>

<form class="mx-auto max-w-7xl md:px-6 px-4" action="https://formspree.io/f/xvgpalrg" method="post">

	<label class="mb-3 block text-lg font-medium">Họ và tên</label>
	<input type="text" name="ho-va-ten" name="Họ và tên" class="mx-auto max-w-7xl mb-4 py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900" required>

	<label class="mb-3 block text-lg font-medium">Email liên lạc</label>
	<input type="email" name="email" name="Email liên lạc" class="mx-auto max-w-7xl mb-4 py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900" required>

	<label class="mb-3 block text-lg font-medium">Nội dung trao đổi</label>
	<input type="text" name="noi-dung" content="Nội dung trao đổi" class="px-4 mb-4 py-6 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900" required>

	<button type="submit" class="btn-primary mb-6">Đăng ký</button>

</form>

<CTA

	title="Liên lạc trao đổi"

	callToAction={{
		text: 'Nhắn tin',
		href: 'https://info.nhavantuonglai.com/instagram',
	}}


	items={[
		{
		title: 'Tức thời',
		description:
			'Bạn có thể gửi và nhận tin nhắn nhanh chóng, trực tiếp, giúp những vấn đề cá nhân của bạn được giải quyết tức thời và hiệu quả hơn.',
		icon: 'tabler:bell-school',
		},
		{
		title: 'Thân thiện',
		description:
			'Vì tính chất là kênh liên lạc nhanh, nên bạn có thể bỏ qua những nghi thức giao tiếp thông thường, chỉ cần lịch sự và tôn trọng thì sẽ nhận được sự phản hồi đầy thân thiện, thoải mái từ tác giả.',
		icon: 'tabler:brand-codecov',
		},
	]}

	image={{
		src: 'https://data.nhavantuonglai.com/image/illustrations/cover-nhavantuonglai-com-0640.jpg',
		alt: 'nhan-tin-instagram',
	}}
>

	<Fragment slot="content">
		<h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-4">Liên lạc thông qua Instagram</h2>
		Thông qua Instagram, bạn có thể trao đổi trực tiếp và tức thời, cũng như cập nhật những thông tin mới nhất từ nhavantuonglai.
	</Fragment>

</CTA>

<CTA

	isReversed

	callToAction={{
		text: 'Gửi mail',
		href: 'mailto:info@nhavantuonglai.com',
	}}

	items={[
		{
		title: 'Tin cậy',
		description:
			'Trong một số trường hợp, email được dùng như một tài liệu pháp lý, chính vì vậy mà bạn có thể an tâm và tin cậy khi trao đổi với tác giả thông qua email.',
		icon: 'tabler:trees',
		},
		{
		title: 'Chuyên nghiệp',
		description:
			'Cấu trúc của email đặt tính chuyên nghiệp lên hàng đầu, nên những thông tin, nội dung được viết trong email từ tác giả sẽ luôn đảm bảo điều này ở mức cao nhất.',
		icon: 'tabler:award',
		},
	]}

	image={{
		src: 'https://data.nhavantuonglai.com/image/illustrations/cover-nhavantuonglai-com-0645.jpg',
		alt: 'viet-mail',
	}}
>

	<Fragment slot="content">
		<h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-4">Trao đổi trên email</h2>
		Thông qua email cá nhân, bạn có thể trao đổi thỏa thuận hợp tác, kết nối chuyên sâu và mang tính chuyên nghiệp.
	</Fragment>

</CTA>