---
import Button from '~/components/ui/button.astro';
import CTA from '~/components/widgets/services.astro';

---


<form action="https://formspree.io/f/xvgpalrg" method="post">


	<div class="mb-6 relative mx-auto max-w-7xl px-4 md:px-6 text-default">

		<Fragment slot="content">
			<h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Đăng ký thông tin</h3>
		</Fragment>

		<label for="name" class="mb-4 block text-sm font-medium">Họ và tên</label>
		<input name="Họ và tên" id="name" type="name" class="mb-4 py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900">

		<label for="email" class="mb-4 block text-sm font-medium">Email liên lạc</label>
		<input email="Email liên lạc" id="email" type="email" class="mb-4 py-3 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900">

		<label for="content" class="mb-4 block text-sm font-medium">Nội dung trao đổi</label>
		<input content="Nội dung trao đổi" id="content" type="content" class="mb-4 py-6 px-4 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900">

	<div/>

  <button type="submit" class="btn-primary mb-12 w-auto">Gửi form</button>

</form>


<CTA

	callToAction={{
		text: 'Nhắn tin',
		href: 'https://info.nhavantuonglai.com/instagram',
	}}


	items={[
		{
		title: 'Tức thời và nhanh chóng',
		description:
			'Bạn có thể gửi và nhận tin nhắn nhanh chóng, trực tiếp, giúp những vấn đề cá nhân của bạn được giải quyết tức thời và hiệu quả hơn.',
		icon: 'tabler:bell-school',
		},
		{
		title: 'Thân thiện và gần gũi',
		description:
			'Vì tính chất là kênh liên lạc nhanh, nên bạn có thể bỏ qua những nghi thức giao tiếp thông thường, chỉ cần lịch sự và tôn trọng thì sẽ nhận được sự phản hồi đầy thân thiện, thoải mái từ tác giả.',
		icon: 'tabler:brand-codecov',
		},
	]}

	image={{
		src: 'https://data.nhavantuonglai.com/image/illustrations/cover-nhavantuonglai-com-0040.jpg',
		alt: 'viet-bai-chuan-seo',
	}}
	>

	<Fragment slot="content">
		<h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Liên lạc thông qua Instagram</h3>
		Thông qua Instagram, bạn có thể trao đổi trực tiếp và tức thời, cũng như cập nhật những thông tin mới nhất từ nhavantuonglai.
	</Fragment>

</CTA>

<CTA

	isReversed

	callToAction={{
		text: 'Gửi mail',
		href: 'mailto:info@nhavantuonglai.com',
	}}

	items={[
		{
		title: 'Tin cậy',
		description:
			'Trong một số trường hợp, email được dùng như một tài liệu pháp lý, chính vì vậy mà bạn có thể an tâm và tin cậy khi trao đổi với tác giả thông qua email.',
		icon: 'tabler:trees',
		},
		{
		title: 'Chuyên nghiệp',
		description:
			'Cấu trúc của email đặt tính chuyên nghiệp lên hàng đầu, nên những thông tin, nội dung được viết trong email từ tác giả sẽ luôn đảm bảo điều này ở mức cao nhất.',
		icon: 'tabler:award',
		},
	]}

	image={{
		src: 'https://data.nhavantuonglai.com/image/illustrations/cover-nhavantuonglai-com-0040.jpg',
		alt: 'viet-bai-chuan-seo',
	}}
	>

	<Fragment slot="content">
		<h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Trao đổi trên email</h3>
		Thông qua email cá nhân, bạn có thể trao đổi thỏa thuận hợp tác, kết nối chuyên sâu và mang tính chuyên nghiệp.
	</Fragment>

/>