---
import Button from '~/components/ui/button.astro';
import CTA from '~/components/widgets/services.astro';
import Question from '~/components/widgets/question.astro';

---

<section class="relative md:-mt-[76px] not-prose">
	<div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>
		<div class="relative max-w-7xl mx-auto">
			<div class="pt-0 md:pt-[120px] pointer-events-none"></div>

				<CTA

					callToAction={{
						text: 'Nhắn tin',
						href: 'https://www.instagram.com/nhavantuonglai/',
					}}


					items={[
						{
						title: 'Miễn phí sử dụng',
						description:
							'Integrate AI hoàn toàn miễn phí, không giới hạn tính năng có thể tiếp cận. Bạn có thể tự do khai thác các tính năng của công cụ mà không lo về chi phí hay hiệu năng.',
						icon: 'tabler:bell-school',
						},
						{
						title: 'Tiện lợi tức thời',
						description:
							'Không cần đăng ký hay đăng nhập, chỉ cần hỏi, Integrate AI sẽ ngay lập tức phân tích và đưa ra câu trả lời phù hợp, tiết kiện và đơn giản hơn các công cụ AI khác rất nhiều.',
						icon: 'tabler:brand-codecov',
						},
					]}

					image={{
						src: 'https://nhavantuonglai.com/image/cover/001-714.jpg',
						alt: 'nhan-tin-instagram',
					}}
				>

					<Fragment slot="content">
						Integrate AI cá nhân hóa là công cụ Chat Ai vận hành dựa trên nền tảng GoogleAI, được tối ưu thiết kế, giúp tất cả mọi người đều có thể tiếp cận AI mà không gặp rào cản nào.
					</Fragment>

				</CTA>
		</div>
</section>

<Question

	items={[

		{
		title: 'Sử dụng công cụ như thế nào?',
		description: 'Để sử dụng công cụ Integrate AI, chỉ cần dán câu hỏi và nhấn Gửi yêu cầu, kết quả sẽ được trả về ngay lập tức, nhanh chóng và tiện lợi.',
		icon: 'tabler:chevrons-right',
		},

		{
		title: 'Có giới hạn khi sử dụng công cụ không?',
		description: `Công cụ Integrate AI không giới hạn số lần sử dụng, tuy nhiên, nếu lượng truy cập quá lớn, thời gian phản hồi có thể bị chậm lại hoặc gặp một số lỗi.`,
		icon: 'tabler:chevrons-right',
		},

		{
		title: 'Dữ liệu khi nhập vào có bị lưu lại không?',
		description: 'Công cụ Integrate AI không lưu, khai thác lại dữ liệu, và mọi thông tin bạn cung cấp đều được tuân thủ theo các Điều khoản, chính sách hiện có trên website.',
		icon: 'tabler:chevrons-right',
		},

		{
		title: 'Cách để liên lạc, hỗ trợ và góp ý hoàn thiện công cụ',
		description: 'Nếu có bất kỳ thắc mắc hoặc góp ý, hãy liên hệ chúng tôi qua email info@nhavantuonglai.com để được hỗ trợ.',
		icon: 'tabler:chevrons-right',
		},

	]}

>