---
import Form from '~/api/form.astro';

const {
	title = '',
	subtitle = '',
	tagline = '',
	testimonials = [],
	callToAction,

	id,
	isDark = false,
	classes = {},
	bg = await Astro.slots.render('bg'),
} = Astro.props;

function postToGoogle() {
    //Xử lý lấy dữ liệu các input vào biến tương ứng thông qua ID của input
    var name = $("entry.778952885").val();
    var email = $("entry.321884196").val();
    var text = $("entry.306172217").val();

    //Xử lý gửi dữ liệu lên form
    $.ajax({
        //Chỉ định đích gửi dữ liệu đến: là form response đã tạo ở trên
        url: "https://docs.google.com/forms/d/e/1FAIpQLSdgQ2liYsxFrOdmHSsL8tsbb7TsgvCQhXMkV3FE2iR3w6QB5g/formResponse?",
        //URL lấy từ link đã note ở trên nhé
        data: { //gán các giá trị tương ứng vào các Input name tương ứng đã lấy ở trên
            "entry.778952885": name,
            "entry.321884196": email,
            "entry.306172217": text
        },
        type: "POST",
        dataType: "jsonp", //các bạn có thể để xml, nhưng khi bật console lên sẽ thấy báo đỏ lòm vì ko cho cross, còn cái này nó vẫn cảnh báo nhưng màu xám thôi, ko đỏ :v
        success: function(d)
    {}, //do đã bảo ở trên là nó ko cho cross đâu, nên khi gửi data xong ko trả về success được, ko cần điền cái này nhé
        error: function(x, y, z) {
            $('#success-msg').show(); //hiện ra cái mess báo thành công khi gửi xong
        }
    });

    return false;
}


---
<Form

	id="form"
	title="Drop us a message today!"
	subtitle="For quicker answers, explore our FAQs section. You may find the solution you're looking  for right there! If not, our support team is delighted to help you."
	onsubmit="return postToGoogle();"
	action=""

	inputs={[
	  {
		type: 'name',
		name: 'entry.778952885',
		label: 'Họ và tên',
	  },
	  {
		type: 'email',
		name: 'entry.321884196',
		label: 'Email liên lạc',
	  },
	  {
		type: 'text',
		name: 'entry.306172217',
		label: 'Nội dung trao đổi',
	  },
	]}

	disclaimer={{
	  label:
		'Tôi đồng ý với các điều khoản, thông tin chia sẻ dữ liệu khi gửi.',
	}}

<h3 id="success-msg" class="text-center" style="display: none;"> Your Message has been sended!</h3>

/>