---
import Button from '~/components/ui/button.astro';
import CTA from '~/components/widgets/services.astro';
import Question from '~/components/widgets/question.astro';

---

<section class="relative md:-mt-[76px] not-prose">

	<div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>
		<div class="relative max-w-7xl mx-auto">
			<div class="pt-0 md:pt-[120px] pointer-events-none"></div>

				<CTA

					callToAction={{
						text: 'Sử dụng công cụ',
						href: 'https://nhavantuonglai.com/analytics/integrate',
					}}


					items={[
						{
						title: 'Miễn phí sử dụng',
						description:
							'Trợ lý AI Google tích hợp Gemini API miễn phí, tự do khai thác các tính năng của trợ lý AI của Google mà không lo về chi phí hay hiệu năng.',
						icon: 'tabler:bell-school',
						},
						{
						title: 'Tiện lợi tức thời',
						description:
							'Không cần đăng ký, chỉ cần hỏi, Trợ lý AI Google tích hợp Gemini API sẽ ngay lập tức phân tích và đưa ra câu trả lời phù hợp cho bạn.',
						icon: 'tabler:brand-codecov',
						},
					]}

					image={{
						src: 'https://banmaixanh.org/image/cover/001-714.jpg',
						alt: 'nhan-tin-instagram',
					}}
				>

					<Fragment slot="content">
						Trợ lý AI Google tích hợp Gemini API là công cụ có khả năng xử lý văn bản và hình ảnh, tạo nội dung, tác nhân thoại, cùng nhiều tác vụ khác.
					</Fragment>

				</CTA>
		</div>
</section>

<Question

	items={[

		{
		title: 'Sử dụng trợ lý AI của Google như thế nào?',
		description: 'Để sử dụng Trợ lý AI Google tích hợp Gemini API, chỉ cần dán câu hỏi và nhấn Gửi yêu cầu, kết quả sẽ được trả về ngay lập tức, nhanh chóng và tiện lợi.',
		icon: 'tabler:chevrons-right',
		},

		{
		title: 'Có giới hạn khi sử dụng trợ lý AI của Google không?',
		description: `Trợ lý AI Google tích hợp Gemini API không giới hạn số lần sử dụng, tuy nhiên, nếu lượng truy cập quá lớn, thời gian phản hồi có thể bị chậm.`,
		icon: 'tabler:chevrons-right',
		},

		{
		title: 'Dữ liệu khi nhập vào trợ lý AI của Google có bị lưu lại không?',
		description: 'Trợ lý AI Google tích hợp Gemini API không lưu lại dữ liệu, và mọi thông tin bạn cung cấp đều được tuân thủ theo các Điều khoản, chính sách hiện có.',
		icon: 'tabler:chevrons-right',
		},

		{
		title: 'Cách để liên lạc, hỗ trợ và góp ý hoàn thiện trợ lý AI của Google',
		description: 'Nếu có bất kỳ thắc mắc hoặc góp ý, hãy liên hệ chúng tôi qua email info@nhavantuonglai.com để được hỗ trợ.',
		icon: 'tabler:chevrons-right',
		},

	]}

>