---
import Content from '~/components/widgets/content.astro';
---

<Content

	title="Dịch vụ cung cấp"

	items={[
		{
		title: 'Nội dung hấp dẫn với người đọc',
		description:
			'nhavantuonglai cam kết mang đến những bài viết không chỉ chuẩn SEO mà còn thực sự thu hút người đọc. Mỗi bài viết được chúng tôi đầu tư kỹ lưỡng từ khâu nghiên cứu đến biên tập, đảm bảo nội dung không chỉ hữu ích mà còn thú vị, giữ chân độc giả lâu hơn trên website của bạn. Điều này không chỉ cải thiện thứ hạng SEO mà còn tăng tỷ lệ tương tác và chuyển đổi.',
		},

		{
		title: 'Nội dung đáp ứng thuật toán SEO',
		description:
			'Các bài viết của nhavantuonglai luôn tuân thủ chặt chẽ các yêu cầu của thuật toán SEO. Chúng tôi cập nhật liên tục các thay đổi từ các công cụ tìm kiếm để đảm bảo nội dung luôn đạt chuẩn và hiệu quả cao nhất. Việc tối ưu hóa từ khóa, cấu trúc bài viết và các yếu tố SEO khác được thực hiện một cách cẩn thận, giúp website của bạn dễ dàng leo lên top tìm kiếm.',
		},

		{
		title: 'Nội dung tự viết, không xào nấu',
		description:
			'nhavantuonglai tự hào với đội ngũ viết bài chuyên nghiệp và giàu kinh nghiệm. Tất cả các bài viết đều được chúng tôi tự tay viết, không sao chép hay sử dụng nội dung có sẵn. Điều này đảm bảo rằng nội dung luôn mới mẻ, độc đáo và mang tính chất riêng biệt cho từng khách hàng. Chúng tôi cam kết cung cấp nội dung chất lượng, mang lại giá trị thực sự cho doanh nghiệp của bạn.',
		},
	]}

	image={{
		src: 'https://data.nhavantuonglai.com/image/illustrations/cover-nhavantuonglai-com-0142.jpg',
		alt: 'viet-bai-chuan-seo',
	}}
	>

	<Fragment slot="content">
		<h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Viết bài chuẩn SEO</h3>
		Dịch vụ viết bài chuẩn SEO của nhavantuonglai được thiết kế để cung cấp nội dung chất lượng cao, giúp nâng cao thứ hạng tìm kiếm trên các công cụ tìm kiếm như Google. Đội ngũ viết bài chuyên nghiệp của chúng tôi không chỉ tạo ra những bài viết hấp dẫn, mà còn đảm bảo chúng hoàn toàn tuân thủ các yêu cầu thuật toán SEO hiện hành. Điều này giúp tăng lượng truy cập vào website của bạn, cải thiện tỷ lệ chuyển đổi và tạo ra giá trị dài hạn cho doanh nghiệp.
	</Fragment>

</Content>

<Content

	isReversed

	isAfterContent

	items={[
		{
		title: 'Giao diện hiện đại trong mắt người dùng',
		description:
			'nhavantuonglai luôn chú trọng đến việc tạo ra những giao diện website hiện đại, bắt mắt và thân thiện với người dùng. Chúng tôi sử dụng các công nghệ và xu hướng thiết kế mới nhất để đảm bảo rằng website của bạn không chỉ đẹp mà còn dễ dàng sử dụng, mang lại trải nghiệm tốt nhất cho khách hàng. Một giao diện thân thiện không chỉ giữ chân người dùng lâu hơn mà còn tạo ấn tượng tốt, giúp tăng cơ hội chuyển đổi.',
		},
		{
		title: 'Backend thân thiện với quản trị viên',
		description:
			'Với dịch vụ thiết kế website của nhavantuonglai, bạn sẽ có một website dễ dàng chỉnh sửa và biên tập. Chúng tôi cung cấp các công cụ quản lý nội dung đơn giản, giúp bạn tự tin thay đổi, cập nhật thông tin mà không cần đến kiến thức lập trình. Điều này giúp bạn luôn chủ động trong việc quản lý và phát triển nội dung, đáp ứng nhanh chóng các nhu cầu kinh doanh.',
		},
		{
		title: 'Cấu trúc đảm bảo tối ưu SEO',
		description:
			'Tất cả các website do nhavantuonglai thiết kế đều được tối ưu hóa để đáp ứng các yêu cầu của thuật toán SEO. Chúng tôi chú trọng đến việc tối ưu hóa cấu trúc trang, từ khóa, và các yếu tố kỹ thuật khác để đảm bảo website của bạn dễ dàng đạt được thứ hạng cao trên các công cụ tìm kiếm. Một website tối ưu hóa SEO không chỉ giúp tăng lượng truy cập mà còn cải thiện hiệu suất kinh doanh trực tuyến.',
		},
	]}

	image={{
		src: 'https://data.nhavantuonglai.com/image/illustrations/cover-nhavantuonglai-com-0438.jpg',
		alt: 'website-chuan-seo',
	}}
	>

	<Fragment slot="content">
		<h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Thiết kế website chuẩn SEO</h3>
		Dịch vụ thiết kế website chuẩn SEO của nhavantuonglai được tạo ra để giúp doanh nghiệp có một website không chỉ đẹp mắt mà còn tối ưu hóa cho các công cụ tìm kiếm. Chúng tôi tạo ra những giao diện hiện đại, thân thiện với người dùng và dễ dàng chỉnh sửa, biên tập. Tất cả các website do chúng tôi thiết kế đều được tối ưu hóa để đáp ứng các tiêu chuẩn SEO, giúp tăng cường sự hiện diện trực tuyến và thu hút khách hàng tiềm năng.

	</Fragment>

</Content>

<Content

	isAfterContent

	items={[
		{
		title: 'Tìm kiếm, giải quyết các vấn đề SEO đang gặp phải',
		description:
			'nhavantuonglai có đội ngũ chuyên gia SEO giàu kinh nghiệm, sẵn sàng giải quyết mọi vấn đề liên quan đến SEO của website. Chúng tôi thực hiện các phân tích chi tiết, tìm ra các điểm yếu và đề xuất các giải pháp khắc phục hiệu quả. Bằng cách cải thiện cấu trúc trang, tối ưu hóa từ khóa và nội dung, chúng tôi giúp website của bạn cải thiện thứ hạng tìm kiếm và thu hút nhiều lượt truy cập hơn.',
		},
		{
		title: 'Đề xuất, hoàn thiện tiêu chuẩn SEO áp dụng sau này',
		description:
			'Chúng tôi không chỉ dừng lại ở việc khắc phục các vấn đề hiện có, mà còn đề xuất và hoàn thiện các tiêu chuẩn SEO cho website của bạn. nhavantuonglai sử dụng các phương pháp và công cụ tiên tiến để đảm bảo rằng website của bạn luôn tuân thủ các tiêu chuẩn SEO mới nhất. Điều này giúp website của bạn không chỉ đạt chuẩn mà còn duy trì thứ hạng cao một cách bền vững.',
		},
		{
		title: 'Bảo trì, bảo dưỡng khi kết thúc dự án',
		description:
			'Một trong những lợi ích lớn khi sử dụng dịch vụ tối ưu website của nhavantuonglai là bạn sẽ nhận được hỗ trợ bảo trì, bảo dưỡng trong 3 tháng kể từ khi kết thúc hợp đồng. Chúng tôi cam kết theo dõi, kiểm tra và điều chỉnh các yếu tố SEO để đảm bảo website của bạn luôn hoạt động hiệu quả và duy trì thứ hạng cao. Điều này giúp bạn yên tâm tập trung vào các hoạt động kinh doanh mà không phải lo lắng về SEO.',
		},
	]}

	image={{
		src: 'https://data.nhavantuonglai.com/image/illustrations/cover-nhavantuonglai-com-0266.jpg',
		alt: 'toi-uu-website-chuan-seo',
	}}
	>

	<Fragment slot="content">
		<h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Thiết kế tối ưu website SEO</h3>
		Dịch vụ tối ưu website chuẩn SEO của nhavantuonglai được thiết kế để giúp các doanh nghiệp giải quyết triệt để các vấn đề về SEO. Chúng tôi cung cấp các giải pháp tối ưu hóa toàn diện, từ việc phân tích và đánh giá hiện trạng website, đến đề xuất và triển khai các biện pháp cải thiện. Dịch vụ của chúng tôi không chỉ giúp website của bạn đạt chuẩn SEO mà còn duy trì và nâng cao hiệu quả SEO trong thời gian dài.
	</Fragment>

</Content>