---
import Content from '~/components/widgets/content.astro';
---

<Content

	title="Dịch vụ cung cấp"

	items={[
		{
		title: 'Kinh nghiệm viết lâu năm, đáp ứng tốt yêu cầu kỹ thuật',
		description:
			'Với 6 năm kinh nghiệm content đa lĩnh vực, khả năng nghiên cứu và tổng hợp thông tin đáp ứng tốt mọi yêu cầu viết bài chuẩn SEO của mọi doanh nghiệp. Tỷ lệ unique cam kết trên 98%.',
		},

		{
		title: 'Vốn sống phong phú, nhiều tài nguyên và chất liệu viết',
		description:
			'Vốn sống phong phú, nhiều tài nguyên và chất liệu viết',
		},

		{
		title: 'Làm việc theo nguyên tắc, tuân thủ hợp đồng và deadline',
		description:
			'Là người sống nguyên tắc với nhiều tiêu chuẩn tự bản thân phải tuân thủ, nhavantuonglai cam kết hoàn tất các sản phẩm viết bài chuẩn SEO đúng thời hạn, chất lượng như đã cam kết.',
		},

	]}

	image={{
		src: 'https://data.nhavantuonglai.com/image/illustrations/cover-nhavantuonglai-com-0142.jpg',
		alt: 'Colorful Image',

	}}
	>

	<Fragment slot="content">
		<h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Viết bài chuẩn SEO</h3>
		Viết bài chuẩn SEO cân bằng giữa việc đáp ứng tốt các yêu cầu kỹ thuật SEO, thuật toán từ công cụ tìm kiếm và giải quyết vấn đề mà người đọc đang tìm thông tin. Vậy, tại sao nên thuê nhavantuonglai để viết bài chuẩn SEO?

	</Fragment>

</Content>

<Content

	isAfterContent

	items={[
		{
		title: 'Kinh nghiệm thực chiến kết hợp kiến thức được cập nhật liên tục',
		description: `Với 3 năm kinh nghiệm SEO trực tiếp và 2 năm SEO gián tiếp, nhavantuonglai đáp ứng tốt mọi yêu cầu, chỉ tiêu KPI liên quan đến SEO cũng như giải quyết được các vấn đề kỹ thuật nhằm tối ưu website chuẩn SEO.`,
		},
		{
		title: 'Công cụ đa dạng, nguồn lực hiệu quả và kết quả cụ thể',
		description:
			'Thông qua các công cụ, nền tảng hỗ trợ để tìm hiểu, giải quyết và tối ưu website chuẩn SEO, nhavantuonglai cam kết đem lại kết quả cụ thể, dựa trên nội dung đã thống nhất và kỳ vọng của các doanh nghiệp.',
		},
		{
		title: 'SEO bền vững, nói không với thủ thuật ăn xổi ở thì',
		description:
			"Các website doanh nghiệp mà nhavantuonglai nhận tối ưu chuẩn SEO luôn duy trì ổn định traffic và thứ hạng, ngay cả sau 3 – 6 tháng thì các yếu tố ấy vẫn được đảm bảo.",
		},
	]}

	image={{
		src: 'https://data.nhavantuonglai.com/image/illustrations/cover-nhavantuonglai-com-0266.jpg',
		alt: 'Blueprint Image',

	}}
	>

	<Fragment slot="content">
		<h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Tối ưu website chuẩn SEO</h3>
		Website thiếu ổn định ảnh hưởng đến trải nghiệm người dùng, tỷ lệ chuyển đổi thấp cũng như nguy cơ bị tấn công cao. Vậy, tại sao nên thuê nhavantuonglai để tối ưu website chuẩn SEO cho doanh nghiệp của bạn?

	</Fragment>

</Content>

<Content

	isReversed

	isAfterContent

	items={[
		{
		title: 'Hiểu biết đa nền tảng, đáp ứng đúng và đủ mọi nhu cầu lẫn ngân sách',
		description:
			'Với kinh nghiệm 6 năm làm website chuẩn SEO, duy trì và thực chiến tốt các nền tảng build website như Wordpress, Webflow, Astro (seft-host, on Githu)... để có thể đáp ứng đa dạng nhu cầu và mong muốn của khách hàng.',
		},
		{
		title: 'Kết hợp tốt giữa tối ưu chuẩn SEO và thân thiện với người dùng',
		description:
			'Thân thiện với người dùng không chỉ là tiêu chuẩn trong SEO, mà nó còn là trải nghiệm thuần túy mà bất kỳ ai cũng muốn khi lướt mạng. nhavantuonglai cân bằng tốt, đáp ứng hiệu quả giữa yếu tố kỹ thuật và thân thiện, đem đến giao diện website vừa mang tính chuyển đổi cao lẫn hiệu quả cho người đọc khi cần tiếp cận thông tin.',
		},
		{
		title: 'Bảo hành với các gói tùy chọn mở rộng',
		description:
			'Không chỉ bàn giao, nhavantuonglai còn hỗ trợ đào tạo, sử dụng thành thạo website cho nhân viên doanh nghiệp, cũng như mở rộng các gói bảo hành với các mức ngân sách khác nhau, đáp ứng tốt mọi yêu cầu về chi phí vận hành website trong doanh nghiệp.',
		},
	]}

	image={{
		src: 'https://data.nhavantuonglai.com/image/illustrations/cover-nhavantuonglai-com-0438.jpg',
		alt: 'Astronauts Image',

	}}
	>

	<Fragment slot="content">
		<h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Thiết kế website chuẩn SEO</h3>
		Website là thương hiệu số của doanh nghiệp lẫn cá nhân, giúp tiếp cận khách hàng tiềm năng hiệu quả, tăng nhận diện và bảo vệ thương hiệu trực tuyến hiệu quả hơn. Khi hợp tác với nhavantuonglai để thiết kế website chuẩn SEO, bạn sẽ được hưởng những lợi ích dưới đây.

	</Fragment>

</Content>