---
import Services from '~/components/widgets/services.astro';
---

<Services

	title="Dịch vụ cung cấp"

	items={[
		{
		title: 'Nội dung hấp dẫn với người đọc',
		description:
			'Nội dung viết của @nhavantuonglai luôn được chú trọng để đem lại trải nghiệm đọc tốt nhất, không chỉ hấp dẫn về mặt nội dung mà còn mạch lạc trong trình bày.',
		},

		{
		title: 'Nội dung đáp ứng thuật toán SEO',
		description:
			'Không chỉ đáp ứng trải nghiệm đọc, các sản phẩm content của @nhavantuonglai còn đáp ứng tốt các thuật toán, tiêu chí SEO của công cụ tìm kiếm, giúp website của bạn dễ dàng leo lên top tìm kiếm.',
		},

		{
		title: 'Nội dung tự viết, không xào nấu',
		description:
			'Tất cả các bài viết, sản phẩm content đều được @nhavantuonglai tự viết, không sao chép hay sử dụng nội dung có sẵn. Điều này đảm bảo rằng nội dung luôn mới mẻ, độc đáo và mang tính chất riêng biệt cho từng khách hàng.',
		},
	]}

	image={{
		src: 'https://data.nhavantuonglai.com/image/illustrations/cover-nhavantuonglai-com-0040.jpg',
		alt: 'viet-bai-chuan-seo',
	}}
	>

	<Fragment slot="content">
		<h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-4">Viết bài chuẩn SEO</h3>
		Dịch vụ viết bài chuẩn SEO của nhavantuonglai được thiết kế để cung cấp nội dung chất lượng cao. Điều này giúp tăng lượng truy cập vào website của bạn, cải thiện tỷ lệ chuyển đổi và tạo ra giá trị dài hạn cho doanh nghiệp.
	</Fragment>

</Services>

<Services

	isReversed

	isAfterContent

	items={[
		{
		title: 'Giao diện hiện đại trong mắt người dùng',
		description:
			'nhavantuonglai luôn chú trọng đến việc tạo ra những giao diện website hiện đại, bắt mắt và thân thiện với người dùng. Giao diện thân thiện không chỉ giữ chân người dùng lâu hơn mà còn tạo ấn tượng tốt, giúp tăng cơ hội chuyển đổi.',
		},
		{
		title: 'Backend thân thiện với quản trị viên',
		description:
			'Với dịch vụ thiết kế website của nhavantuonglai, bạn sẽ có một website dễ dàng chỉnh sửa và biên tập. Điều này giúp bạn luôn chủ động trong việc quản lý và phát triển nội dung, đáp ứng nhanh chóng các nhu cầu kinh doanh.',
		},
		{
		title: 'Cấu trúc đảm bảo tối ưu SEO',
		description:
			'Tất cả các website do nhavantuonglai thiết kế đều được tối ưu hóa để đáp ứng các yêu cầu của thuật toán SEO. Website tối ưu hóa SEO không chỉ giúp tăng lượng truy cập mà còn cải thiện hiệu suất kinh doanh trực tuyến.',
		},
	]}

	image={{
		src: 'https://data.nhavantuonglai.com/image/illustrations/cover-nhavantuonglai-com-0109.jpg',
		alt: 'website-chuan-seo',
	}}
	>

	<Fragment slot="content">
		<h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-4">Thiết kế website chuẩn SEO</h3>
		Dịch vụ thiết kế website chuẩn SEO của nhavantuonglai được tạo ra để giúp doanh nghiệp có một website không chỉ đẹp mắt mà còn tối ưu hóa cho các công cụ tìm kiếm, và tăng cường sự hiện diện trực tuyến và thu hút khách hàng tiềm năng.

	</Fragment>

</Services>

<Services

	isAfterContent

	items={[
		{
		title: 'Tìm kiếm, giải quyết các vấn đề SEO đang gặp phải',
		description:
			'nhavantuonglai có đội ngũ chuyên gia SEO giàu kinh nghiệm, sẵn sàng giải quyết mọi vấn đề liên quan đến SEO của website.  Bằng kế hoạch cải thiện SEO, website của bạn sẽ trở nên thân thiện, tải nhanh và thu hút người đọc nhiều hơn.',
		},
		{
		title: 'Đề xuất, hoàn thiện tiêu chuẩn SEO áp dụng sau này',
		description:
			'Không chỉ dừng lại ở việc khắc phục các vấn đề hiện có, mà còn là đề xuất và hoàn thiện các tiêu chuẩn SEO cho website của bạn, để website của bạn không chỉ đạt chuẩn mà còn duy trì thứ hạng cao một cách bền vững.',
		},
		{
		title: 'Bảo trì, bảo dưỡng khi kết thúc dự án',
		description:
			'Bạn sẽ nhận được hỗ trợ bảo trì, bảo dưỡng trong 3 tháng kể từ khi kết thúc hợp đồng. Chúng tôi cam kết theo dõi, kiểm tra và điều chỉnh các yếu tố SEO để đảm bảo website của bạn luôn hoạt động hiệu quả và duy trì thứ hạng cao.',
		},
	]}

	image={{
		src: 'https://data.nhavantuonglai.com/image/illustrations/cover-nhavantuonglai-com-0326.jpg',
		alt: 'toi-uu-website-chuan-seo',
	}}
	>

	<Fragment slot="content">
		<h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-4">Thiết kế tối ưu website SEO</h3>
		Dịch vụ tối ưu website chuẩn SEO của nhavantuonglai được thiết kế để giúp các doanh nghiệp giải quyết triệt để các vấn đề về SEO.  Dịch vụ không chỉ giúp website của bạn đạt chuẩn SEO mà còn duy trì và nâng cao hiệu quả SEO trong thời gian dài.
	</Fragment>

</Services>