---
export interface Props {
  url?: string;
  width?: string;
  numPosts?: number;
  orderBy?: 'social' | 'reverse_time' | 'time';
}

const {
  url = Astro.url.href,
  width = "100%",
  numPosts = 5,
  orderBy = "reverse_time"
} = Astro.props;
---

<div id="fb-root"></div>
<script define:vars={{ url, width, numPosts, orderBy }}>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml: true,
      version: 'v18.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/vi_VN/sdk.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

<div class="fb-comments" 
  data-href={url} 
  data-width={width} 
  data-numposts={numPosts} 
  data-order-by={orderBy}>
</div>