<script>

	(function () {
		document.addEventListener("DOMContentLoaded", function () {
			var badgeClass = "dmca-badge";
			var refParam = "refurl";
			var badgeLinks = document.querySelectorAll('a.' + badgeClass);

			badgeLinks.forEach(function (link) {
				if (!link.href.includes(refParam)) {
					var separator = link.href.includes("?") ? "&" : "?";
					link.href = link.href + separator + refParam + "=" + encodeURIComponent(document.location.href);
				}
			});
		});
	})();

</script>

<a
	href="https://www.dmca.com/Protection/Status.aspx?ID=23017359-d24b-46a6-8b23-3da1b75aa49a"
	title="nhavantuonglai.com protection status"
	class="dmca-badge"
	target="_blank">
	<img
		src="https://images.dmca.com/Badges/dmca_protected_sml_120b.png?ID=23017359-d24b-46a6-8b23-3da1b75aa49a"
		alt="nhavantuonglai.com protection status"
	/>

</a>