<div id="scroll-progress" class="bg-primary h-1 fixed top-0 left-0 z-50"> </div>

<script type="module">

	window.addEventListener("scroll", function () {
		const scrollableHeight =
			document.documentElement.scrollHeight - window.innerHeight;
		const scrolled = window.scrollY;
		const progressBar = document.getElementById("scroll-progress");
		const progress = (scrolled / scrollableHeight) * 100;
		progressBar.style.width = progress + "%";
	});

</script>