---
import Layout from '~/layouts/page-layout.astro';
import Content from '~/components/widgets/content.astro';
import Features from '~/components/widgets/features.astro';
import Testimonials from '~/components/widgets/testimonials.astro';
import Prices from '~/components/widgets/pricing.astro';
import Brands from '~/components/widgets/brands.astro';

const metadata = {
	title: 'Dịch vụ cung cấp | nhavantuonglai',
};
---

<Layout metadata={metadata}>

	<Content
		isReversed
		title="Dịch vụ cung cấp"
		items={[
			{
				title: 'Kinh nghiệm viết lâu năm, đáp ứng tốt yêu cầu kỹ thuật',
				description:
					'Với 6 năm kinh nghiệm content đa lĩnh vực, khả năng nghiên cứu và tổng hợp thông tin đáp ứng tốt mọi yêu cầu viết bài chuẩn SEO của mọi doanh nghiệp. Tỷ lệ unique cam kết trên 98%.',
			},
			{
				title: 'Vốn sống phong phú, nhiều tài nguyên và chất liệu viết',
				description:
					'Vốn sống phong phú, nhiều tài nguyên và chất liệu viết',
			},
			{
				title: 'Làm việc theo nguyên tắc, tuân thủ hợp đồng và deadline',
				description:
					'Là người sống nguyên tắc với nhiều tiêu chuẩn tự bản thân phải tuân thủ, nhavantuonglai cam kết hoàn tất các sản phẩm viết bài chuẩn SEO đúng thời hạn, chất lượng như đã cam kết.',
			},
		]}
		image={{
			src: 'https://data.nhavantuonglai.com/image/illustrations/cover-nhavantuonglai-com-0142.jpg',
			alt: 'Colorful Image',
		}}
	>
		<Fragment slot="content">
			<h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Viết bài chuẩn SEO</h3>
			Viết bài chuẩn SEO cân bằng giữa việc đáp ứng tốt các yêu cầu kỹ thuật SEO, thuật toán từ công cụ tìm kiếm và giải quyết vấn đề mà người đọc đang tìm thông tin. Vậy, tại sao nên thuê nhavantuonglai để viết bài chuẩn SEO?
		</Fragment>

	</Content>

	<Content
		isAfterContent
		items={[
			{
				title: 'Kinh nghiệm thực chiến kết hợp kiến thức được cập nhật liên tục',
				description: `Với 3 năm kinh nghiệm SEO trực tiếp và 2 năm SEO gián tiếp, nhavantuonglai đáp ứng tốt mọi yêu cầu, chỉ tiêu KPI liên quan đến SEO cũng như giải quyết được các vấn đề kỹ thuật nhằm tối ưu website chuẩn SEO.`,
			},
			{
				title: 'Công cụ đa dạng, nguồn lực hiệu quả và kết quả cụ thể',
				description:
					'Thông qua các công cụ, nền tảng hỗ trợ để tìm hiểu, giải quyết và tối ưu website chuẩn SEO, nhavantuonglai cam kết đem lại kết quả cụ thể, dựa trên nội dung đã thống nhất và kỳ vọng của các doanh nghiệp.',
			},
			{
				title: 'SEO bền vững, nói không với thủ thuật ăn xổi ở thì',
				description:
					"Các website doanh nghiệp mà nhavantuonglai nhận tối ưu chuẩn SEO luôn duy trì ổn định traffic và thứ hạng, ngay cả sau 3 – 6 tháng thì các yếu tố ấy vẫn được đảm bảo.",
			},
		]}
		image={{
			src: 'https://data.nhavantuonglai.com/image/illustrations/cover-nhavantuonglai-com-0266.jpg',
			alt: 'Blueprint Image',
		}}
	>
		<Fragment slot="content">
			<h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Tối ưu website chuẩn SEO</h3>
			Website thiếu ổn định ảnh hưởng đến trải nghiệm người dùng, tỷ lệ chuyển đổi thấp cũng như nguy cơ bị tấn công cao. Vậy, tại sao nên thuê nhavantuonglai để tối ưu website chuẩn SEO cho doanh nghiệp của bạn?
		</Fragment>
	</Content>

	<Content
		isReversed
		isAfterContent
		items={[
			{
				title: 'Hiểu biết đa nền tảng, đáp ứng đúng và đủ mọi nhu cầu lẫn ngân sách',
				description:
					'Với kinh nghiệm 6 năm làm website chuẩn SEO, duy trì và thực chiến tốt các nền tảng build website như Wordpress, Webflow, Astro (seft-host, on Githu)... để có thể đáp ứng đa dạng nhu cầu và mong muốn của khách hàng.',
			},
			{
				title: 'Kết hợp tốt giữa tối ưu chuẩn SEO và thân thiện với người dùng',
				description:
					'Thân thiện với người dùng không chỉ là tiêu chuẩn trong SEO, mà nó còn là trải nghiệm thuần túy mà bất kỳ ai cũng muốn khi lướt mạng. nhavantuonglai cân bằng tốt, đáp ứng hiệu quả giữa yếu tố kỹ thuật và thân thiện, đem đến giao diện website vừa mang tính chuyển đổi cao lẫn hiệu quả cho người đọc khi cần tiếp cận thông tin.',
			},
			{
				title: 'Bảo hành với các gói tùy chọn mở rộng',
				description:
					'Không chỉ bàn giao, nhavantuonglai còn hỗ trợ đào tạo, sử dụng thành thạo website cho nhân viên doanh nghiệp, cũng như mở rộng các gói bảo hành với các mức ngân sách khác nhau, đáp ứng tốt mọi yêu cầu về chi phí vận hành website trong doanh nghiệp.',
			},
		]}
		image={{
			src: 'https://data.nhavantuonglai.com/image/illustrations/cover-nhavantuonglai-com-0438.jpg',
			alt: 'Astronauts Image',
		}}
	>
		<Fragment slot="content">
			<h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Thiết kế website chuẩn SEO</h3>
			Website là thương hiệu số của doanh nghiệp lẫn cá nhân, giúp tiếp cận khách hàng tiềm năng hiệu quả, tăng nhận diện và bảo vệ thương hiệu trực tuyến hiệu quả hơn. Khi hợp tác với nhavantuonglai để thiết kế website chuẩn SEO, bạn sẽ được hưởng những lợi ích dưới đây.
		</Fragment>
	</Content>

	<Brands
		title="Được tin đọc bởi các khách hàng của"
		images={[
			{
				src: 'https://data.nhavantuonglai.com/image/clients/client-facebook.png',
				alt: 'Facebook',
			},
			{
				src: 'https://data.nhavantuonglai.com/image/clients/client-google.png',
				alt: 'Google',
			},
			{
				src: 'https://data.nhavantuonglai.com/image/clients/client-microsoft.png',
				alt: 'Microsoft',
			},
			{
				src: 'https://data.nhavantuonglai.com/image/clients/client-netflix.png',
				alt: 'Netflix',
			},
			{
				src: 'https://data.nhavantuonglai.com/image/clients/client-spotify.png',
				alt: 'Spotify',
			},
			{
				src: 'https://data.nhavantuonglai.com/image/clients/client-tiktok.png',
				alt: 'Tiktok',
			},
		{
				src: 'https://data.nhavantuonglai.com/image/clients/client-amazon.png',
				alt: 'Amazon',
			},
		{
				src: 'https://data.nhavantuonglai.com/image/clients/client-apple.png',
				alt: 'Apple',
			},
		]}
	/>

	<Testimonials
	title="Bằng chứng xã hội"
	testimonials={[
		{
			testimonial: `Website của tôi được nhavantuonglai tạo ra miễn phí, không tốn phí hosting, giúp tiết kiệm được một khoảng ngân sách hàng tháng. Thật tuyệt vời.`,
		name: 'Phạm Vy',
		job: 'Chủ shop quần áo',
		image: {
			src: 'https://data.nhavantuonglai.com/image/clients/client-people-one.png',
			alt: 'nhavantuonglai-pham-vy',
		},
		},
		{
		testimonial: `Chất lượng bài viết tốt, khi chuyển sang đội SEO họ cũng đánh giá cao và phản hồi hiệu quả top SEO, chuyển đổi rất chất lượng.`,
		name: 'Văn Nhàn',
		job: 'Content Leader',
		image: {
			src: 'https://data.nhavantuonglai.com/image/clients/client-people-two.png',
			alt: 'nhavantuonglai-van-nhan',
		},
		},
		{
		testimonial: 'Dữ liệu trên website khác đầy đủ và chi tiết, có vẻ như được cập nhật thường xuyên, nói chung website đáng truy cập thường xuyên.',
		name: 'Trần An',
		job: 'Data Analysis',
		image: {
			src: 'https://data.nhavantuonglai.com/image/clients/client-people-three.png',
			alt: 'nhavantuonglai-tran-an',
		},
		},
	]}
	/>

	<Prices
	title="Báo giá dịch vụ"
	prices={[
		{
		title: 'Viết bài',
		subtitle: 'Phổ biến với cá nhân',
		price: 9,
		period: 'mỗi bài',
		items: [
			{
			description: 'Cấu trúc chuẩn SEO',
			},
			{
			description: 'Nội dung thân thiện, hữu ích',
			},
			{
			description: 'Số lượng chữ linh hoạt',
			},
			{
			description: 'Chất lượng luôn cố định',
			},
		],
		callToAction: {
			target: '_blank',
			text: 'Get started',
			href: 'https://info.nhavantuonglai.com/instagram',
		},
		},
		{
		title: 'SEO',
		subtitle: 'Phổ biến với dự án',
		price: 499,
		period: 'mỗi dự án',
		items: [
			{
			description: 'Cam kết traffic, thứ hạng',
			},
			{
			description: 'Tối ưu nội dung, tốc độ tải',
			},
			{
			description: 'Cập nhật nhanh nhạy thuật toán mới',
			},
			{
			description: 'Bảo hành tối thiểu 6 tháng',
			},
		],
		callToAction: {
			target: '_blank',
			text: 'Get started',
			href: 'https://info.nhavantuonglai.com/instagram',
		},
		hasRibbon: true,
		ribbonTitle: 'dùng nhiều',
		},
		{
		title: 'Website',
		subtitle: 'Phổ biến với doanh nghiệp',
		price: 199,
		period: 'mỗi sản phẩm',
		items: [
			{
			description: 'Thân thiện người đọc, quản lý',
			},
			{
			description: 'Giao diện hiện đại, tải nhanh',
			},
			{
			description: 'Không tốn phí hosting',
			},
			{
			description: 'Không yêu cầu hiểu biết kỹ thuật',
			},
		],
		callToAction: {
			target: '_blank',
			text: 'Get started',
			href: '#',
		},
		},
	]}
	/>

	<Features
		title="Luôn sẵn sàng hỗ trợ khi bạn cần"
		items={[
			{
				title: 'Hỗ trợ nhanh',
				description: `Bạn có thể liên lạc trực tiếp với nhavantuonglai qua số hotline đính kèm dưới đây, hoặc Instagram nếu không thích nghe điện thoại cho bất kỳ vấn đề, rắc rối nào phát sinh trong quá trình đọc lẫn trong cuộc sống của bạn.`,
			},
			{
				title: 'Hỗ trợ chuyên nghiệp',
				description: 'Bạn có thể viết thư và gửi theo địa chỉ đính kèm dưới đây trong trường hợp cần trao đổi chi tiết, chuyên nghiệp về vấn đề bản thân, hợp tác đôi bên hoặc bất kỳ thắc mắc nào muốn được trao đổi chi tiết.',
			},
			{
				title: 'Hỗ trợ trực tiếp',
				description: 'Bạn có thể đề xuất buổi hẹn gặp trực tiếp trong trường hợp cho rằng vấn đề cần trao đổi chỉ có thể làm rõ thông qua đối thoại trực tiếp. Hãy liên hệ với nhavantuonglai theo các thông tin đính kèm dưới đây để sắp xếp.',
			},
			{
				title: 'Hotline',
				description: '+84 88 686 7749',
				icon: 'tabler:headset',
			},
			{
				title: 'Email cá nhân',
				description: 'info@nhavantuonglai.com',
				icon: 'tabler:mail',
			},
			{
				title: 'Địa chỉ',
				description: 'Da Nang | Hue',
				icon: 'tabler:map-pin',
			},
		]}
	/>

</Layout>