---
import Button from '~/components/ui/button.astro';
import CTA from '~/components/widgets/services.astro';
---

<section class="relative md:-mt-[76px] not-prose">

	<div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>

		<div class="mx-auto max-w-7xl md:px-6 px-4">

			<textarea id="input1" placeholder="Nội dung đối chiếu A" class="px-4 mb-6 py-6 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900" required></textarea>

			<textarea id="input2" placeholder="Nội dung đối chiếu B" class="px-4 mb-6 py-6 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900" required></textarea>

			<button id="compare-btn" class="btn-primary w-auto mb-6">Đối chiếu</button>

			<div id="output" class="text-lg border border-gray-300 p-4 rounded-lg bg-white dark:bg-slate-900">
				<h3 class="text-lg dark:text-slate-400 font-bold mb-6">Kết quả đối chiếu</h3>
				<p id="output-text"></p>
			</div>

		</div>

		<script client:load>
			document.addEventListener("DOMContentLoaded", function () {
				const buttonCompare = document.getElementById('compare-btn');
				const input1 = document.getElementById('input1');
				const input2 = document.getElementById('input2');
				const outputText = document.getElementById('output-text');

				buttonCompare.addEventListener('click', function() {
				const text1 = input1.value.split("\n").map(line => line.trim());
				const text2 = input2.value.split("\n").map(line => line.trim());

				const set1 = new Set(text1);
				const set2 = new Set(text2);

				const onlyInFirst = text1.filter(line => !set2.has(line));
				const onlyInSecond = text2.filter(line => !set1.has(line));

				const result = [
					...onlyInFirst.map(line => `Chỉ có trong bản A: ${line}`),
					...onlyInSecond.map(line => `Chỉ có trong bản B: ${line}`)
				].join("\n");

				outputText.innerText = result || "Không có sự khác biệt giữa nội dung đối chiếu.";
				});
			});
		</script>

</section>