---
import Button from '~/components/ui/button.astro';
import CTA from '~/components/widgets/services.astro';
---

<section class="relative md:-mt-[76px] not-prose">
  <div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>
  <div class="pt-0 md:pt-[120px] pointer-events-none"></div>
  <h1 class="mx-auto max-w-7xl md:px-6 leading-tighter text-center text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-6 font-heading">
    dieuphapam
  </h1>

  <div class="mx-auto max-w-7xl md:px-6 px-4">
    <textarea id="input" placeholder="Nhập URL trang chứa các liên kết tải…" class="px-4 mb-6 py-6 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900" required></textarea>

    <button id="convert-btn" class="btn-primary w-auto mb-6">Gửi yêu cầu</button>

    <div id="output" class="mb-6 text-lg border border-gray-300 p-4 rounded-lg"></div>
  </div>

<script client:load>
        async function processURL(input) {
            try {
                const match = input.match(/\.(\d+)\/?$/);
                if (!match) {
                    return "Định dạng URL đầu vào không hợp lệ.";
                }
                const number = match[1];
                return `https://media.dieuphapam.net/portal/download.php?f=${number}.dieuphapam.list`;
            } catch (error) {
                console.error("Lỗi không xác định:", error);
                if (error.message === "Failed to fetch") {
                    return "Lỗi mạng: Không thể kết nối đến máy chủ.";
                }
                return "Lỗi không xác định.";
            }
        }

        document.addEventListener("DOMContentLoaded", function () {
            const buttonConvert = document.getElementById('convert-btn');
            const input = document.getElementById('input');
            const output = document.getElementById('output');

            buttonConvert.addEventListener('click', async function () {
                const input = input.value.trim();
                output.innerHTML = "Đang xử lý…";

                const newURL = await processURL(input);
                output.innerHTML = newURL;
            });
        });
    </script>







</section>