---
import Button from '~/components/ui/button.astro';
import CTA from '~/components/widgets/services.astro';
---

<section class="relative md:-mt-[76px] not-prose">

	<div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>

		<h2 class="text-center">
				Bộ emoji, icon Facebook chuẩn 2025, cập nhật mới nhất
		</h2>

		<div class="icon-container">
			<div class="icon" onclick="copyToClipboard('➰️')">➰️</div>
			<div class="icon" onclick="copyToClipboard('⬛️')">⬛️</div>
			<div class="icon" onclick="copyToClipboard('⬜')">⬜</div>
			<div class="icon" onclick="copyToClipboard('⏩️')">⏩️</div>
			<div class="icon" onclick="copyToClipboard('⏪️')">⏪️</div>
			<div class="icon" onclick="copyToClipboard('⏫️')">⏫️</div>
			<div class="icon" onclick="copyToClipboard('⏬️')">⏬️</div>
			<div class="icon" onclick="copyToClipboard('⏭️')">⏭️</div>
			<div class="icon" onclick="copyToClipboard('⏮️')">⏮️</div>
			<div class="icon" onclick="copyToClipboard('⏯️')">⏯️</div>
			<div class="icon" onclick="copyToClipboard('⏰️')">⏰️</div>
			<div class="icon" onclick="copyToClipboard('⏱️')">⏱️</div>
			<div class="icon" onclick="copyToClipboard('⏲️')">⏲️</div>
			<div class="icon" onclick="copyToClipboard('⏳️')">⏳️</div>
			<div class="icon" onclick="copyToClipboard('⌚️')">⌚️</div>
			<div class="icon" onclick="copyToClipboard('⌛️')">⌛️</div>
			<div class="icon" onclick="copyToClipboard('⌨️')">⌨️</div>
			<div class="icon" onclick="copyToClipboard('☝️')">☝️</div>
			<div class="icon" onclick="copyToClipboard('➡️')">➡️</div>
			<div class="icon" onclick="copyToClipboard('☀️')">☀️</div>
			<div class="icon" onclick="copyToClipboard('☁️')">☁️</div>
			<div class="icon" onclick="copyToClipboard('☂️')">☂️</div>
			<div class="icon" onclick="copyToClipboard('☃️')">☃️</div>
			<div class="icon" onclick="copyToClipboard('☄️')">☄️</div>
			<div class="icon" onclick="copyToClipboard('☎️')">☎️</div>
			<div class="icon" onclick="copyToClipboard('☑️')">☑️</div>
			<div class="icon" onclick="copyToClipboard('☠️')">☠️</div>
			<div class="icon" onclick="copyToClipboard('☢️')">☢️</div>
			<div class="icon" onclick="copyToClipboard('☣️')">☣️</div>
			<div class="icon" onclick="copyToClipboard('☦️')">☦️</div>
			<div class="icon" onclick="copyToClipboard('☪️')">☪️</div>
			<div class="icon" onclick="copyToClipboard('☮️')">☮️</div>
			<div class="icon" onclick="copyToClipboard('☯️')">☯️</div>
			<div class="icon" onclick="copyToClipboard('☸️')">☸️</div>
			<div class="icon" onclick="copyToClipboard('☹️')">☹️</div>
			<div class="icon" onclick="copyToClipboard('♈️')">♈️</div>
			<div class="icon" onclick="copyToClipboard('♉️')">♉️</div>
			<div class="icon" onclick="copyToClipboard('♊️')">♊️</div>
			<div class="icon" onclick="copyToClipboard('♋️')">♋️</div>
			<div class="icon" onclick="copyToClipboard('♌️')">♌️</div>
			<div class="icon" onclick="copyToClipboard('♍️')">♍️</div>
			<div class="icon" onclick="copyToClipboard('♎️')">♎️</div>
			<div class="icon" onclick="copyToClipboard('♏️')">♏️</div>
			<div class="icon" onclick="copyToClipboard('♐️')">♐️</div>
			<div class="icon" onclick="copyToClipboard('♑️')">♑️</div>
			<div class="icon" onclick="copyToClipboard('♒️')">♒️</div>
			<div class="icon" onclick="copyToClipboard('♓️')">♓️</div>
			<div class="icon" onclick="copyToClipboard('♟️')">♟️</div>
			<div class="icon" onclick="copyToClipboard('♨️')">♨️</div>
			<div class="icon" onclick="copyToClipboard('✂️')">✂️</div>
			<div class="icon" onclick="copyToClipboard('✈️')">✈️</div>
			<div class="icon" onclick="copyToClipboard('✉️')">✉️</div>
			<div class="icon" onclick="copyToClipboard('✌️')">✌️</div>
			<div class="icon" onclick="copyToClipboard('✍️')">✍️</div>
			<div class="icon" onclick="copyToClipboard('✏️')">✏️</div>
			<div class="icon" onclick="copyToClipboard('✒️')">✒️</div>
			<div class="icon" onclick="copyToClipboard('✔️')">✔️</div>
			<div class="icon" onclick="copyToClipboard('✖️')">✖️</div>
			<div class="icon" onclick="copyToClipboard('✝️')">✝️</div>
			<div class="icon" onclick="copyToClipboard('✡️')">✡️</div>
			<div class="icon" onclick="copyToClipboard('✳️')">✳️</div>
			<div class="icon" onclick="copyToClipboard('✴️')">✴️</div>
			<div class="icon" onclick="copyToClipboard('❄️')">❄️</div>
			<div class="icon" onclick="copyToClipboard('❇️')">❇️</div>
			<div class="icon" onclick="copyToClipboard('❎️')">❎️</div>
			<div class="icon" onclick="copyToClipboard('❓️')">❓️</div>
			<div class="icon" onclick="copyToClipboard('❔️')">❔️</div>
			<div class="icon" onclick="copyToClipboard('❕️')">❕️</div>
			<div class="icon" onclick="copyToClipboard('❗️')">❗️</div>
			<div class="icon" onclick="copyToClipboard('❣️')">❣️</div>
			<div class="icon" onclick="copyToClipboard('❤️')">❤️</div>
			<div class="icon" onclick="copyToClipboard('✅️')">✅️</div>
			<div class="icon" onclick="copyToClipboard('✊️')">✊️</div>
			<div class="icon" onclick="copyToClipboard('✋️')">✋️</div>
			<div class="icon" onclick="copyToClipboard('✨️')">✨️</div>
			<div class="icon" onclick="copyToClipboard('❌️')">❌️</div>
			<div class="icon" onclick="copyToClipboard('☔️')">☔️</div>
			<div class="icon" onclick="copyToClipboard('☕️')">☕️</div>
			<div class="icon" onclick="copyToClipboard('♻️')">♻️</div>
			<div class="icon" onclick="copyToClipboard('⏏️')">⏏️</div>
			<div class="icon" onclick="copyToClipboard('⚠️')">⚠️</div>
			<div class="icon" onclick="copyToClipboard('⚡️')">⚡️</div>
			<div class="icon" onclick="copyToClipboard('☘️')">☘️</div>
			<div class="icon" onclick="copyToClipboard('♾️')">♾️</div>
			<div class="icon" onclick="copyToClipboard('♿️')">♿️</div>
			<div class="icon" onclick="copyToClipboard('⚒️')">⚒️</div>
			<div class="icon" onclick="copyToClipboard('⚓️')">⚓️</div>
			<div class="icon" onclick="copyToClipboard('⚔️')">⚔️</div>
			<div class="icon" onclick="copyToClipboard('⚕️')">⚕️</div>
			<div class="icon" onclick="copyToClipboard('⚖️')">⚖️</div>
			<div class="icon" onclick="copyToClipboard('⚗️')">⚗️</div>
			<div class="icon" onclick="copyToClipboard('⚙️')">⚙️</div>
			<div class="icon" onclick="copyToClipboard('⚛️')">⚛️</div>
			<div class="icon" onclick="copyToClipboard('⚜️')">⚜️</div>
			<div class="icon" onclick="copyToClipboard('⚧️')">⚧️</div>
			<div class="icon" onclick="copyToClipboard('⚪️')">⚪️</div>
			<div class="icon" onclick="copyToClipboard('⚫️')">⚫️</div>
			<div class="icon" onclick="copyToClipboard('⚰️')">⚰️</div>
			<div class="icon" onclick="copyToClipboard('⚱️')">⚱️</div>
			<div class="icon" onclick="copyToClipboard('⛄️')">⛄️</div>
			<div class="icon" onclick="copyToClipboard('⛅️')">⛅️</div>
			<div class="icon" onclick="copyToClipboard('⛈️')">⛈️</div>
			<div class="icon" onclick="copyToClipboard('⛎️')">⛎️</div>
			<div class="icon" onclick="copyToClipboard('⛏️')">⛏️</div>
			<div class="icon" onclick="copyToClipboard('⛑️')">⛑️</div>
			<div class="icon" onclick="copyToClipboard('⛓️')">⛓️</div>
			<div class="icon" onclick="copyToClipboard('⛔️')">⛔️</div>
			<div class="icon" onclick="copyToClipboard('⛩️')">⛩️</div>
			<div class="icon" onclick="copyToClipboard('⛪️')">⛪️</div>
			<div class="icon" onclick="copyToClipboard('⛰️')">⛰️</div>
			<div class="icon" onclick="copyToClipboard('⛱️')">⛱️</div>
			<div class="icon" onclick="copyToClipboard('⛲️')">⛲️</div>
			<div class="icon" onclick="copyToClipboard('⛳️')">⛳️</div>
			<div class="icon" onclick="copyToClipboard('⛴️')">⛴️</div>
			<div class="icon" onclick="copyToClipboard('⛵️')">⛵️</div>
			<div class="icon" onclick="copyToClipboard('⛷️')">⛷️</div>
			<div class="icon" onclick="copyToClipboard('⛸️')">⛸️</div>
			<div class="icon" onclick="copyToClipboard('⛹️')">⛹️</div>
			<div class="icon" onclick="copyToClipboard('⛺️')">⛺️</div>
			<div class="icon" onclick="copyToClipboard('⛽️')">⛽️</div>
			<div class="icon" onclick="copyToClipboard('ℹ️')">ℹ️</div>
			<div class="icon" onclick="copyToClipboard('🀄')">🀄</div>
			<div class="icon" onclick="copyToClipboard('🃏')">🃏</div>
			<div class="icon" onclick="copyToClipboard('🅰️')">🅰️</div>
			<div class="icon" onclick="copyToClipboard('🅱️')">🅱️</div>
			<div class="icon" onclick="copyToClipboard('🅾️')">🅾️</div>
			<div class="icon" onclick="copyToClipboard('🅿️')">🅿️</div>
			<div class="icon" onclick="copyToClipboard('🆎')">🆎</div>
			<div class="icon" onclick="copyToClipboard('🆑')">🆑</div>
			<div class="icon" onclick="copyToClipboard('🆒')">🆒</div>
			<div class="icon" onclick="copyToClipboard('🆓')">🆓</div>
			<div class="icon" onclick="copyToClipboard('🆔')">🆔</div>
			<div class="icon" onclick="copyToClipboard('🆕')">🆕</div>
			<div class="icon" onclick="copyToClipboard('🆖')">🆖</div>
			<div class="icon" onclick="copyToClipboard('🆗')">🆗</div>
			<div class="icon" onclick="copyToClipboard('🆘')">🆘</div>
			<div class="icon" onclick="copyToClipboard('🆙')">🆙</div>
			<div class="icon" onclick="copyToClipboard('🆚')">🆚</div>
			<div class="icon" onclick="copyToClipboard('🈁')">🈁</div>
			<div class="icon" onclick="copyToClipboard('🈂️')">🈂️</div>
			<div class="icon" onclick="copyToClipboard('🈚')">🈚</div>
			<div class="icon" onclick="copyToClipboard('🈯')">🈯</div>
			<div class="icon" onclick="copyToClipboard('🈲')">🈲</div>
			<div class="icon" onclick="copyToClipboard('🈳')">🈳</div>
			<div class="icon" onclick="copyToClipboard('🈴')">🈴</div>
			<div class="icon" onclick="copyToClipboard('🈵')">🈵</div>
			<div class="icon" onclick="copyToClipboard('🈶')">🈶</div>
			<div class="icon" onclick="copyToClipboard('🈷️')">🈷️</div>
			<div class="icon" onclick="copyToClipboard('🈸')">🈸</div>
			<div class="icon" onclick="copyToClipboard('🈹')">🈹</div>
			<div class="icon" onclick="copyToClipboard('🈺')">🈺</div>
			<div class="icon" onclick="copyToClipboard('🉐')">🉐</div>
			<div class="icon" onclick="copyToClipboard('🉑')">🉑</div>
			<div class="icon" onclick="copyToClipboard('🌀')">🌀</div>
			<div class="icon" onclick="copyToClipboard('🌁')">🌁</div>
			<div class="icon" onclick="copyToClipboard('🌂')">🌂</div>
			<div class="icon" onclick="copyToClipboard('🌃')">🌃</div>
			<div class="icon" onclick="copyToClipboard('🌄')">🌄</div>
			<div class="icon" onclick="copyToClipboard('🌅')">🌅</div>
			<div class="icon" onclick="copyToClipboard('🌆')">🌆</div>
			<div class="icon" onclick="copyToClipboard('🌇')">🌇</div>
			<div class="icon" onclick="copyToClipboard('🌈')">🌈</div>
			<div class="icon" onclick="copyToClipboard('🌉')">🌉</div>
			<div class="icon" onclick="copyToClipboard('🌊')">🌊</div>
			<div class="icon" onclick="copyToClipboard('🌋')">🌋</div>
			<div class="icon" onclick="copyToClipboard('🌌')">🌌</div>
			<div class="icon" onclick="copyToClipboard('🌍')">🌍</div>
			<div class="icon" onclick="copyToClipboard('🌎')">🌎</div>
			<div class="icon" onclick="copyToClipboard('🌏')">🌏</div>
			<div class="icon" onclick="copyToClipboard('🌐')">🌐</div>
			<div class="icon" onclick="copyToClipboard('🌑')">🌑</div>
			<div class="icon" onclick="copyToClipboard('🌒')">🌒</div>
			<div class="icon" onclick="copyToClipboard('🌓')">🌓</div>
			<div class="icon" onclick="copyToClipboard('🌔')">🌔</div>
			<div class="icon" onclick="copyToClipboard('🌕')">🌕</div>
			<div class="icon" onclick="copyToClipboard('🌖')">🌖</div>
			<div class="icon" onclick="copyToClipboard('🌗')">🌗</div>
			<div class="icon" onclick="copyToClipboard('🌘')">🌘</div>
			<div class="icon" onclick="copyToClipboard('🌙')">🌙</div>
			<div class="icon" onclick="copyToClipboard('🌚')">🌚</div>
			<div class="icon" onclick="copyToClipboard('🌛')">🌛</div>
			<div class="icon" onclick="copyToClipboard('🌜')">🌜</div>
			<div class="icon" onclick="copyToClipboard('🌝')">🌝</div>
			<div class="icon" onclick="copyToClipboard('🌞')">🌞</div>
			<div class="icon" onclick="copyToClipboard('🌟')">🌟</div>
			<div class="icon" onclick="copyToClipboard('🌠')">🌠</div>
			<div class="icon" onclick="copyToClipboard('🌡️')">🌡️</div>
			<div class="icon" onclick="copyToClipboard('🌤️')">🌤️</div>
			<div class="icon" onclick="copyToClipboard('🌥️')">🌥️</div>
			<div class="icon" onclick="copyToClipboard('🌦️')">🌦️</div>
			<div class="icon" onclick="copyToClipboard('🌧️')">🌧️</div>
			<div class="icon" onclick="copyToClipboard('🌨️')">🌨️</div>
			<div class="icon" onclick="copyToClipboard('🌩️')">🌩️</div>
			<div class="icon" onclick="copyToClipboard('🌪️')">🌪️</div>
			<div class="icon" onclick="copyToClipboard('🌫️')">🌫️</div>
			<div class="icon" onclick="copyToClipboard('🌬️')">🌬️</div>
			<div class="icon" onclick="copyToClipboard('🌭')">🌭</div>
			<div class="icon" onclick="copyToClipboard('🌮')">🌮</div>
			<div class="icon" onclick="copyToClipboard('🌯')">🌯</div>
			<div class="icon" onclick="copyToClipboard('🌰')">🌰</div>
			<div class="icon" onclick="copyToClipboard('🌱')">🌱</div>
			<div class="icon" onclick="copyToClipboard('🌲')">🌲</div>
			<div class="icon" onclick="copyToClipboard('🌳')">🌳</div>
			<div class="icon" onclick="copyToClipboard('🌴')">🌴</div>
			<div class="icon" onclick="copyToClipboard('🌵')">🌵</div>
			<div class="icon" onclick="copyToClipboard('🌶️')">🌶️</div>
			<div class="icon" onclick="copyToClipboard('🌷')">🌷</div>
			<div class="icon" onclick="copyToClipboard('🌸')">🌸</div>
			<div class="icon" onclick="copyToClipboard('🌹')">🌹</div>
			<div class="icon" onclick="copyToClipboard('🌺')">🌺</div>
			<div class="icon" onclick="copyToClipboard('🌻')">🌻</div>
			<div class="icon" onclick="copyToClipboard('🌼')">🌼</div>
			<div class="icon" onclick="copyToClipboard('🌽')">🌽</div>
			<div class="icon" onclick="copyToClipboard('🌾')">🌾</div>
			<div class="icon" onclick="copyToClipboard('🌿')">🌿</div>
			<div class="icon" onclick="copyToClipboard('🍀')">🍀</div>
			<div class="icon" onclick="copyToClipboard('🍁')">🍁</div>
			<div class="icon" onclick="copyToClipboard('🍂')">🍂</div>
			<div class="icon" onclick="copyToClipboard('🍃')">🍃</div>
			<div class="icon" onclick="copyToClipboard('🍄')">🍄</div>
			<div class="icon" onclick="copyToClipboard('🍅')">🍅</div>
			<div class="icon" onclick="copyToClipboard('🍆')">🍆</div>
			<div class="icon" onclick="copyToClipboard('🍇')">🍇</div>
			<div class="icon" onclick="copyToClipboard('🍈')">🍈</div>
			<div class="icon" onclick="copyToClipboard('🍉')">🍉</div>
			<div class="icon" onclick="copyToClipboard('🍊')">🍊</div>
			<div class="icon" onclick="copyToClipboard('🍋')">🍋</div>
			<div class="icon" onclick="copyToClipboard('🍌')">🍌</div>
			<div class="icon" onclick="copyToClipboard('🍍')">🍍</div>
			<div class="icon" onclick="copyToClipboard('🍎')">🍎</div>
			<div class="icon" onclick="copyToClipboard('🍏')">🍏</div>
			<div class="icon" onclick="copyToClipboard('🍐')">🍐</div>
			<div class="icon" onclick="copyToClipboard('🍑')">🍑</div>
			<div class="icon" onclick="copyToClipboard('🍒')">🍒</div>
			<div class="icon" onclick="copyToClipboard('🍓')">🍓</div>
			<div class="icon" onclick="copyToClipboard('🍔')">🍔</div>
			<div class="icon" onclick="copyToClipboard('🍕')">🍕</div>
			<div class="icon" onclick="copyToClipboard('🍖')">🍖</div>
			<div class="icon" onclick="copyToClipboard('🍗')">🍗</div>
			<div class="icon" onclick="copyToClipboard('🍘')">🍘</div>
			<div class="icon" onclick="copyToClipboard('🍙')">🍙</div>
			<div class="icon" onclick="copyToClipboard('🍚')">🍚</div>
			<div class="icon" onclick="copyToClipboard('🍛')">🍛</div>
			<div class="icon" onclick="copyToClipboard('🍜')">🍜</div>
			<div class="icon" onclick="copyToClipboard('🍝')">🍝</div>
			<div class="icon" onclick="copyToClipboard('🍞')">🍞</div>
			<div class="icon" onclick="copyToClipboard('🍟')">🍟</div>
			<div class="icon" onclick="copyToClipboard('🍠')">🍠</div>
			<div class="icon" onclick="copyToClipboard('🍡')">🍡</div>
			<div class="icon" onclick="copyToClipboard('🍢')">🍢</div>
			<div class="icon" onclick="copyToClipboard('🍣')">🍣</div>
			<div class="icon" onclick="copyToClipboard('🍤')">🍤</div>
			<div class="icon" onclick="copyToClipboard('🍥')">🍥</div>
			<div class="icon" onclick="copyToClipboard('🍦')">🍦</div>
			<div class="icon" onclick="copyToClipboard('🍧')">🍧</div>
			<div class="icon" onclick="copyToClipboard('🍨')">🍨</div>
			<div class="icon" onclick="copyToClipboard('🍩')">🍩</div>
			<div class="icon" onclick="copyToClipboard('🍪')">🍪</div>
			<div class="icon" onclick="copyToClipboard('🍫')">🍫</div>
			<div class="icon" onclick="copyToClipboard('🍬')">🍬</div>
			<div class="icon" onclick="copyToClipboard('🍭')">🍭</div>
			<div class="icon" onclick="copyToClipboard('🍮')">🍮</div>
			<div class="icon" onclick="copyToClipboard('🍯')">🍯</div>
			<div class="icon" onclick="copyToClipboard('🍰')">🍰</div>
			<div class="icon" onclick="copyToClipboard('🍱')">🍱</div>
			<div class="icon" onclick="copyToClipboard('🍲')">🍲</div>
			<div class="icon" onclick="copyToClipboard('🍳')">🍳</div>
			<div class="icon" onclick="copyToClipboard('🍴')">🍴</div>
			<div class="icon" onclick="copyToClipboard('🍵')">🍵</div>
			<div class="icon" onclick="copyToClipboard('🍶')">🍶</div>
			<div class="icon" onclick="copyToClipboard('🍷')">🍷</div>
			<div class="icon" onclick="copyToClipboard('🍸')">🍸</div>
			<div class="icon" onclick="copyToClipboard('🍹')">🍹</div>
			<div class="icon" onclick="copyToClipboard('🍺')">🍺</div>
			<div class="icon" onclick="copyToClipboard('🍻')">🍻</div>
			<div class="icon" onclick="copyToClipboard('🍼')">🍼</div>
			<div class="icon" onclick="copyToClipboard('🍽️')">🍽️</div>
			<div class="icon" onclick="copyToClipboard('🍾')">🍾</div>
			<div class="icon" onclick="copyToClipboard('🍿')">🍿</div>
			<div class="icon" onclick="copyToClipboard('🎀')">🎀</div>
			<div class="icon" onclick="copyToClipboard('🎁')">🎁</div>
			<div class="icon" onclick="copyToClipboard('🎂')">🎂</div>
			<div class="icon" onclick="copyToClipboard('🎃')">🎃</div>
			<div class="icon" onclick="copyToClipboard('🎄')">🎄</div>
			<div class="icon" onclick="copyToClipboard('🎅')">🎅</div>
			<div class="icon" onclick="copyToClipboard('🎆')">🎆</div>
			<div class="icon" onclick="copyToClipboard('🎇')">🎇</div>
			<div class="icon" onclick="copyToClipboard('🎈')">🎈</div>
			<div class="icon" onclick="copyToClipboard('🎉')">🎉</div>
			<div class="icon" onclick="copyToClipboard('🎊')">🎊</div>
			<div class="icon" onclick="copyToClipboard('🎋')">🎋</div>
			<div class="icon" onclick="copyToClipboard('🎌')">🎌</div>
			<div class="icon" onclick="copyToClipboard('🎍')">🎍</div>
			<div class="icon" onclick="copyToClipboard('🎎')">🎎</div>
			<div class="icon" onclick="copyToClipboard('🎏')">🎏</div>
			<div class="icon" onclick="copyToClipboard('🎐')">🎐</div>
			<div class="icon" onclick="copyToClipboard('🎑')">🎑</div>
			<div class="icon" onclick="copyToClipboard('🎒')">🎒</div>
			<div class="icon" onclick="copyToClipboard('🎓')">🎓</div>
			<div class="icon" onclick="copyToClipboard('🎖️')">🎖️</div>
			<div class="icon" onclick="copyToClipboard('🎗️')">🎗️</div>
			<div class="icon" onclick="copyToClipboard('🎙️')">🎙️</div>
			<div class="icon" onclick="copyToClipboard('🎚️')">🎚️</div>
			<div class="icon" onclick="copyToClipboard('🎛️')">🎛️</div>
			<div class="icon" onclick="copyToClipboard('🎞️')">🎞️</div>
			<div class="icon" onclick="copyToClipboard('🎟️')">🎟️</div>
			<div class="icon" onclick="copyToClipboard('🎠')">🎠</div>
			<div class="icon" onclick="copyToClipboard('🎡')">🎡</div>
			<div class="icon" onclick="copyToClipboard('🎢')">🎢</div>
			<div class="icon" onclick="copyToClipboard('🎣')">🎣</div>
			<div class="icon" onclick="copyToClipboard('🎤')">🎤</div>
			<div class="icon" onclick="copyToClipboard('🎥')">🎥</div>
			<div class="icon" onclick="copyToClipboard('🎦')">🎦</div>
			<div class="icon" onclick="copyToClipboard('🎧')">🎧</div>
			<div class="icon" onclick="copyToClipboard('🎨')">🎨</div>
			<div class="icon" onclick="copyToClipboard('🎩')">🎩</div>
			<div class="icon" onclick="copyToClipboard('🎪')">🎪</div>
			<div class="icon" onclick="copyToClipboard('🎫')">🎫</div>
			<div class="icon" onclick="copyToClipboard('🎬')">🎬</div>
			<div class="icon" onclick="copyToClipboard('🎭')">🎭</div>
			<div class="icon" onclick="copyToClipboard('🎮')">🎮</div>
			<div class="icon" onclick="copyToClipboard('🎯')">🎯</div>
			<div class="icon" onclick="copyToClipboard('🎰')">🎰</div>
			<div class="icon" onclick="copyToClipboard('🎱')">🎱</div>
			<div class="icon" onclick="copyToClipboard('🎲')">🎲</div>
			<div class="icon" onclick="copyToClipboard('🎳')">🎳</div>
			<div class="icon" onclick="copyToClipboard('🎴')">🎴</div>
			<div class="icon" onclick="copyToClipboard('🎵')">🎵</div>
			<div class="icon" onclick="copyToClipboard('🎶')">🎶</div>
			<div class="icon" onclick="copyToClipboard('🎷')">🎷</div>
			<div class="icon" onclick="copyToClipboard('🎸')">🎸</div>
			<div class="icon" onclick="copyToClipboard('🎹')">🎹</div>
			<div class="icon" onclick="copyToClipboard('🎺')">🎺</div>
			<div class="icon" onclick="copyToClipboard('🎻')">🎻</div>
			<div class="icon" onclick="copyToClipboard('🎼')">🎼</div>
			<div class="icon" onclick="copyToClipboard('🎽')">🎽</div>
			<div class="icon" onclick="copyToClipboard('🎾')">🎾</div>
			<div class="icon" onclick="copyToClipboard('🎿')">🎿</div>
			<div class="icon" onclick="copyToClipboard('🏀')">🏀</div>
			<div class="icon" onclick="copyToClipboard('🏁')">🏁</div>
			<div class="icon" onclick="copyToClipboard('🏂')">🏂</div>
			<div class="icon" onclick="copyToClipboard('🏃')">🏃</div>
			<div class="icon" onclick="copyToClipboard('🏄')">🏄</div>
			<div class="icon" onclick="copyToClipboard('🏅')">🏅</div>
			<div class="icon" onclick="copyToClipboard('🏆')">🏆</div>
			<div class="icon" onclick="copyToClipboard('🏇')">🏇</div>
			<div class="icon" onclick="copyToClipboard('🏈')">🏈</div>
			<div class="icon" onclick="copyToClipboard('🏉')">🏉</div>
			<div class="icon" onclick="copyToClipboard('🏊')">🏊</div>
			<div class="icon" onclick="copyToClipboard('🏋️')">🏋️</div>
			<div class="icon" onclick="copyToClipboard('🏌️')">🏌️</div>
			<div class="icon" onclick="copyToClipboard('🏍️')">🏍️</div>
			<div class="icon" onclick="copyToClipboard('🏎️')">🏎️</div>
			<div class="icon" onclick="copyToClipboard('🏏')">🏏</div>
			<div class="icon" onclick="copyToClipboard('🏐')">🏐</div>
			<div class="icon" onclick="copyToClipboard('🏑')">🏑</div>
			<div class="icon" onclick="copyToClipboard('🏒')">🏒</div>
			<div class="icon" onclick="copyToClipboard('🏓')">🏓</div>
			<div class="icon" onclick="copyToClipboard('🏔️')">🏔️</div>
			<div class="icon" onclick="copyToClipboard('🏕️')">🏕️</div>
			<div class="icon" onclick="copyToClipboard('🏖️')">🏖️</div>
			<div class="icon" onclick="copyToClipboard('🏗️')">🏗️</div>
			<div class="icon" onclick="copyToClipboard('🏘️')">🏘️</div>
			<div class="icon" onclick="copyToClipboard('🏙️')">🏙️</div>
			<div class="icon" onclick="copyToClipboard('🏚️')">🏚️</div>
			<div class="icon" onclick="copyToClipboard('🏛️')">🏛️</div>
			<div class="icon" onclick="copyToClipboard('🏜️')">🏜️</div>
			<div class="icon" onclick="copyToClipboard('🏝️')">🏝️</div>
			<div class="icon" onclick="copyToClipboard('🏞️')">🏞️</div>
			<div class="icon" onclick="copyToClipboard('🏟️')">🏟️</div>
			<div class="icon" onclick="copyToClipboard('🏠')">🏠</div>
			<div class="icon" onclick="copyToClipboard('🏡')">🏡</div>
			<div class="icon" onclick="copyToClipboard('🏢')">🏢</div>
			<div class="icon" onclick="copyToClipboard('🏣')">🏣</div>
			<div class="icon" onclick="copyToClipboard('🏤')">🏤</div>
			<div class="icon" onclick="copyToClipboard('🏥')">🏥</div>
			<div class="icon" onclick="copyToClipboard('🏦')">🏦</div>
			<div class="icon" onclick="copyToClipboard('🏧')">🏧</div>
			<div class="icon" onclick="copyToClipboard('🏨')">🏨</div>
			<div class="icon" onclick="copyToClipboard('🏩')">🏩</div>
			<div class="icon" onclick="copyToClipboard('🏪')">🏪</div>
			<div class="icon" onclick="copyToClipboard('🏫')">🏫</div>
			<div class="icon" onclick="copyToClipboard('🏬')">🏬</div>
			<div class="icon" onclick="copyToClipboard('🏭')">🏭</div>
			<div class="icon" onclick="copyToClipboard('🏮')">🏮</div>
			<div class="icon" onclick="copyToClipboard('🏯')">🏯</div>
			<div class="icon" onclick="copyToClipboard('🏰')">🏰</div>
			<div class="icon" onclick="copyToClipboard('🏳️')">🏳️</div>
			<div class="icon" onclick="copyToClipboard('🏴')">🏴</div>
			<div class="icon" onclick="copyToClipboard('🏵️')">🏵️</div>
			<div class="icon" onclick="copyToClipboard('🏷️')">🏷️</div>
			<div class="icon" onclick="copyToClipboard('🏸')">🏸</div>
			<div class="icon" onclick="copyToClipboard('🏹')">🏹</div>
			<div class="icon" onclick="copyToClipboard('🏺')">🏺</div>
			<div class="icon" onclick="copyToClipboard('🏻')">🏻</div>
			<div class="icon" onclick="copyToClipboard('🏼')">🏼</div>
			<div class="icon" onclick="copyToClipboard('🏽')">🏽</div>
			<div class="icon" onclick="copyToClipboard('🏾')">🏾</div>
			<div class="icon" onclick="copyToClipboard('🏿')">🏿</div>
			<div class="icon" onclick="copyToClipboard('🐀')">🐀</div>
			<div class="icon" onclick="copyToClipboard('🐁')">🐁</div>
			<div class="icon" onclick="copyToClipboard('🐂')">🐂</div>
			<div class="icon" onclick="copyToClipboard('🐃')">🐃</div>
			<div class="icon" onclick="copyToClipboard('🐄')">🐄</div>
			<div class="icon" onclick="copyToClipboard('🐅')">🐅</div>
			<div class="icon" onclick="copyToClipboard('🐆')">🐆</div>
			<div class="icon" onclick="copyToClipboard('🐇')">🐇</div>
			<div class="icon" onclick="copyToClipboard('🐈')">🐈</div>
			<div class="icon" onclick="copyToClipboard('🐉')">🐉</div>
			<div class="icon" onclick="copyToClipboard('🐊')">🐊</div>
			<div class="icon" onclick="copyToClipboard('🐋')">🐋</div>
			<div class="icon" onclick="copyToClipboard('🐌')">🐌</div>
			<div class="icon" onclick="copyToClipboard('🐍')">🐍</div>
			<div class="icon" onclick="copyToClipboard('🐎')">🐎</div>
			<div class="icon" onclick="copyToClipboard('🐏')">🐏</div>
			<div class="icon" onclick="copyToClipboard('🐐')">🐐</div>
			<div class="icon" onclick="copyToClipboard('🐑')">🐑</div>
			<div class="icon" onclick="copyToClipboard('🐒')">🐒</div>
			<div class="icon" onclick="copyToClipboard('🐓')">🐓</div>
			<div class="icon" onclick="copyToClipboard('🐔')">🐔</div>
			<div class="icon" onclick="copyToClipboard('🐕')">🐕</div>
			<div class="icon" onclick="copyToClipboard('🐕‍🦺')">🐕‍🦺</div>
			<div class="icon" onclick="copyToClipboard('🐖')">🐖</div>
			<div class="icon" onclick="copyToClipboard('🐗')">🐗</div>
			<div class="icon" onclick="copyToClipboard('🐘')">🐘</div>
			<div class="icon" onclick="copyToClipboard('🐙')">🐙</div>
			<div class="icon" onclick="copyToClipboard('🐚')">🐚</div>
			<div class="icon" onclick="copyToClipboard('🐛')">🐛</div>
			<div class="icon" onclick="copyToClipboard('🐜')">🐜</div>
			<div class="icon" onclick="copyToClipboard('🐝')">🐝</div>
			<div class="icon" onclick="copyToClipboard('🐞')">🐞</div>
			<div class="icon" onclick="copyToClipboard('🐟')">🐟</div>
			<div class="icon" onclick="copyToClipboard('🐠')">🐠</div>
			<div class="icon" onclick="copyToClipboard('🐡')">🐡</div>
			<div class="icon" onclick="copyToClipboard('🐢')">🐢</div>
			<div class="icon" onclick="copyToClipboard('🐣')">🐣</div>
			<div class="icon" onclick="copyToClipboard('🐤')">🐤</div>
			<div class="icon" onclick="copyToClipboard('🐥')">🐥</div>
			<div class="icon" onclick="copyToClipboard('🐦')">🐦</div>
			<div class="icon" onclick="copyToClipboard('🐧')">🐧</div>
			<div class="icon" onclick="copyToClipboard('🐨')">🐨</div>
			<div class="icon" onclick="copyToClipboard('🐩')">🐩</div>
			<div class="icon" onclick="copyToClipboard('🐪')">🐪</div>
			<div class="icon" onclick="copyToClipboard('🐫')">🐫</div>
			<div class="icon" onclick="copyToClipboard('🐬')">🐬</div>
			<div class="icon" onclick="copyToClipboard('🐭')">🐭</div>
			<div class="icon" onclick="copyToClipboard('🐮')">🐮</div>
			<div class="icon" onclick="copyToClipboard('🐯')">🐯</div>
			<div class="icon" onclick="copyToClipboard('🐰')">🐰</div>
			<div class="icon" onclick="copyToClipboard('🐱')">🐱</div>
			<div class="icon" onclick="copyToClipboard('🐲')">🐲</div>
			<div class="icon" onclick="copyToClipboard('🐳')">🐳</div>
			<div class="icon" onclick="copyToClipboard('🐴')">🐴</div>
			<div class="icon" onclick="copyToClipboard('🐵')">🐵</div>
			<div class="icon" onclick="copyToClipboard('🐶')">🐶</div>
			<div class="icon" onclick="copyToClipboard('🐷')">🐷</div>
			<div class="icon" onclick="copyToClipboard('🐸')">🐸</div>
			<div class="icon" onclick="copyToClipboard('🐹')">🐹</div>
			<div class="icon" onclick="copyToClipboard('🐺')">🐺</div>
			<div class="icon" onclick="copyToClipboard('🐻')">🐻</div>
			<div class="icon" onclick="copyToClipboard('🐼')">🐼</div>
			<div class="icon" onclick="copyToClipboard('🐽')">🐽</div>
			<div class="icon" onclick="copyToClipboard('🐾')">🐾</div>
			<div class="icon" onclick="copyToClipboard('🐿️')">🐿️</div>
			<div class="icon" onclick="copyToClipboard('👀')">👀</div>
			<div class="icon" onclick="copyToClipboard('👁️')">👁️</div>
			<div class="icon" onclick="copyToClipboard('👂')">👂</div>
			<div class="icon" onclick="copyToClipboard('👃')">👃</div>
			<div class="icon" onclick="copyToClipboard('👄')">👄</div>
			<div class="icon" onclick="copyToClipboard('👅')">👅</div>
			<div class="icon" onclick="copyToClipboard('👆')">👆</div>
			<div class="icon" onclick="copyToClipboard('👇')">👇</div>
			<div class="icon" onclick="copyToClipboard('👈')">👈</div>
			<div class="icon" onclick="copyToClipboard('👉')">👉</div>
			<div class="icon" onclick="copyToClipboard('👊')">👊</div>
			<div class="icon" onclick="copyToClipboard('👋')">👋</div>
			<div class="icon" onclick="copyToClipboard('👌')">👌</div>
			<div class="icon" onclick="copyToClipboard('👍')">👍</div>
			<div class="icon" onclick="copyToClipboard('👎')">👎</div>
			<div class="icon" onclick="copyToClipboard('👏')">👏</div>
			<div class="icon" onclick="copyToClipboard('👐')">👐</div>
			<div class="icon" onclick="copyToClipboard('👑')">👑</div>
			<div class="icon" onclick="copyToClipboard('👒')">👒</div>
			<div class="icon" onclick="copyToClipboard('👓')">👓</div>
			<div class="icon" onclick="copyToClipboard('👔')">👔</div>
			<div class="icon" onclick="copyToClipboard('👕')">👕</div>
			<div class="icon" onclick="copyToClipboard('👖')">👖</div>
			<div class="icon" onclick="copyToClipboard('👗')">👗</div>
			<div class="icon" onclick="copyToClipboard('👘')">👘</div>
			<div class="icon" onclick="copyToClipboard('👙')">👙</div>
			<div class="icon" onclick="copyToClipboard('👚')">👚</div>
			<div class="icon" onclick="copyToClipboard('👛')">👛</div>
			<div class="icon" onclick="copyToClipboard('👜')">👜</div>
			<div class="icon" onclick="copyToClipboard('👝')">👝</div>
			<div class="icon" onclick="copyToClipboard('👞')">👞</div>
			<div class="icon" onclick="copyToClipboard('👟')">👟</div>
			<div class="icon" onclick="copyToClipboard('👠')">👠</div>
			<div class="icon" onclick="copyToClipboard('👡')">👡</div>
			<div class="icon" onclick="copyToClipboard('👢')">👢</div>
			<div class="icon" onclick="copyToClipboard('👣')">👣</div>
			<div class="icon" onclick="copyToClipboard('👤')">👤</div>
			<div class="icon" onclick="copyToClipboard('👥')">👥</div>
			<div class="icon" onclick="copyToClipboard('👦')">👦</div>
			<div class="icon" onclick="copyToClipboard('👧')">👧</div>
			<div class="icon" onclick="copyToClipboard('👨')">👨</div>
			<div class="icon" onclick="copyToClipboard('👩')">👩</div>
			<div class="icon" onclick="copyToClipboard('👪')">👪</div>
			<div class="icon" onclick="copyToClipboard('👫')">👫</div>
			<div class="icon" onclick="copyToClipboard('👬')">👬</div>
			<div class="icon" onclick="copyToClipboard('👭')">👭</div>
			<div class="icon" onclick="copyToClipboard('👮')">👮</div>
			<div class="icon" onclick="copyToClipboard('👯')">👯</div>
			<div class="icon" onclick="copyToClipboard('👰')">👰</div>
			<div class="icon" onclick="copyToClipboard('👱')">👱</div>
			<div class="icon" onclick="copyToClipboard('👲')">👲</div>
			<div class="icon" onclick="copyToClipboard('👳')">👳</div>
			<div class="icon" onclick="copyToClipboard('👴')">👴</div>
			<div class="icon" onclick="copyToClipboard('👵')">👵</div>
			<div class="icon" onclick="copyToClipboard('👶')">👶</div>
			<div class="icon" onclick="copyToClipboard('👷')">👷</div>
			<div class="icon" onclick="copyToClipboard('👸')">👸</div>
			<div class="icon" onclick="copyToClipboard('👹')">👹</div>
			<div class="icon" onclick="copyToClipboard('👺')">👺</div>
			<div class="icon" onclick="copyToClipboard('👻')">👻</div>
			<div class="icon" onclick="copyToClipboard('👼')">👼</div>
			<div class="icon" onclick="copyToClipboard('👽')">👽</div>
			<div class="icon" onclick="copyToClipboard('👾')">👾</div>
			<div class="icon" onclick="copyToClipboard('👿')">👿</div>
			<div class="icon" onclick="copyToClipboard('💀')">💀</div>
			<div class="icon" onclick="copyToClipboard('💁')">💁</div>
			<div class="icon" onclick="copyToClipboard('💂')">💂</div>
			<div class="icon" onclick="copyToClipboard('💃')">💃</div>
			<div class="icon" onclick="copyToClipboard('💄')">💄</div>
			<div class="icon" onclick="copyToClipboard('💅')">💅</div>
			<div class="icon" onclick="copyToClipboard('💆')">💆</div>
			<div class="icon" onclick="copyToClipboard('💇')">💇</div>
			<div class="icon" onclick="copyToClipboard('💈')">💈</div>
			<div class="icon" onclick="copyToClipboard('💉')">💉</div>
			<div class="icon" onclick="copyToClipboard('💊')">💊</div>
			<div class="icon" onclick="copyToClipboard('💋')">💋</div>
			<div class="icon" onclick="copyToClipboard('💌')">💌</div>
			<div class="icon" onclick="copyToClipboard('💍')">💍</div>
			<div class="icon" onclick="copyToClipboard('💎')">💎</div>
			<div class="icon" onclick="copyToClipboard('💏')">💏</div>
			<div class="icon" onclick="copyToClipboard('💐')">💐</div>
			<div class="icon" onclick="copyToClipboard('💑')">💑</div>
			<div class="icon" onclick="copyToClipboard('💒')">💒</div>
			<div class="icon" onclick="copyToClipboard('💓')">💓</div>
			<div class="icon" onclick="copyToClipboard('💔')">💔</div>
			<div class="icon" onclick="copyToClipboard('💕')">💕</div>
			<div class="icon" onclick="copyToClipboard('💖')">💖</div>
			<div class="icon" onclick="copyToClipboard('💗')">💗</div>
			<div class="icon" onclick="copyToClipboard('💘')">💘</div>
			<div class="icon" onclick="copyToClipboard('💙')">💙</div>
			<div class="icon" onclick="copyToClipboard('💚')">💚</div>
			<div class="icon" onclick="copyToClipboard('💛')">💛</div>
			<div class="icon" onclick="copyToClipboard('💜')">💜</div>
			<div class="icon" onclick="copyToClipboard('💝')">💝</div>
			<div class="icon" onclick="copyToClipboard('💞')">💞</div>
			<div class="icon" onclick="copyToClipboard('💟')">💟</div>
			<div class="icon" onclick="copyToClipboard('💠')">💠</div>
			<div class="icon" onclick="copyToClipboard('💡')">💡</div>
			<div class="icon" onclick="copyToClipboard('💢')">💢</div>
			<div class="icon" onclick="copyToClipboard('💣')">💣</div>
			<div class="icon" onclick="copyToClipboard('💤')">💤</div>
			<div class="icon" onclick="copyToClipboard('💥')">💥</div>
			<div class="icon" onclick="copyToClipboard('💦')">💦</div>
			<div class="icon" onclick="copyToClipboard('💧')">💧</div>
			<div class="icon" onclick="copyToClipboard('💨')">💨</div>
			<div class="icon" onclick="copyToClipboard('💩')">💩</div>
			<div class="icon" onclick="copyToClipboard('💪')">💪</div>
			<div class="icon" onclick="copyToClipboard('💫')">💫</div>
			<div class="icon" onclick="copyToClipboard('💬')">💬</div>
			<div class="icon" onclick="copyToClipboard('💭')">💭</div>
			<div class="icon" onclick="copyToClipboard('💮')">💮</div>
			<div class="icon" onclick="copyToClipboard('💯')">💯</div>
			<div class="icon" onclick="copyToClipboard('💰')">💰</div>
			<div class="icon" onclick="copyToClipboard('💱')">💱</div>
			<div class="icon" onclick="copyToClipboard('💲')">💲</div>
			<div class="icon" onclick="copyToClipboard('💳')">💳</div>
			<div class="icon" onclick="copyToClipboard('💴')">💴</div>
			<div class="icon" onclick="copyToClipboard('💵')">💵</div>
			<div class="icon" onclick="copyToClipboard('💶')">💶</div>
			<div class="icon" onclick="copyToClipboard('💷')">💷</div>
			<div class="icon" onclick="copyToClipboard('💸')">💸</div>
			<div class="icon" onclick="copyToClipboard('💹')">💹</div>
			<div class="icon" onclick="copyToClipboard('💺')">💺</div>
			<div class="icon" onclick="copyToClipboard('💻')">💻</div>
			<div class="icon" onclick="copyToClipboard('💼')">💼</div>
			<div class="icon" onclick="copyToClipboard('💽')">💽</div>
			<div class="icon" onclick="copyToClipboard('💾')">💾</div>
			<div class="icon" onclick="copyToClipboard('💿')">💿</div>
			<div class="icon" onclick="copyToClipboard('📀')">📀</div>
			<div class="icon" onclick="copyToClipboard('📁')">📁</div>
			<div class="icon" onclick="copyToClipboard('📂')">📂</div>
			<div class="icon" onclick="copyToClipboard('📃')">📃</div>
			<div class="icon" onclick="copyToClipboard('📄')">📄</div>
			<div class="icon" onclick="copyToClipboard('📅')">📅</div>
			<div class="icon" onclick="copyToClipboard('📆')">📆</div>
			<div class="icon" onclick="copyToClipboard('📇')">📇</div>
			<div class="icon" onclick="copyToClipboard('📈')">📈</div>
			<div class="icon" onclick="copyToClipboard('📉')">📉</div>
			<div class="icon" onclick="copyToClipboard('📊')">📊</div>
			<div class="icon" onclick="copyToClipboard('📋')">📋</div>
			<div class="icon" onclick="copyToClipboard('📌')">📌</div>
			<div class="icon" onclick="copyToClipboard('📍')">📍</div>
			<div class="icon" onclick="copyToClipboard('📎')">📎</div>
			<div class="icon" onclick="copyToClipboard('📏')">📏</div>
			<div class="icon" onclick="copyToClipboard('📐')">📐</div>
			<div class="icon" onclick="copyToClipboard('📑')">📑</div>
			<div class="icon" onclick="copyToClipboard('📒')">📒</div>
			<div class="icon" onclick="copyToClipboard('📓')">📓</div>
			<div class="icon" onclick="copyToClipboard('📔')">📔</div>
			<div class="icon" onclick="copyToClipboard('📕')">📕</div>
			<div class="icon" onclick="copyToClipboard('📖')">📖</div>
			<div class="icon" onclick="copyToClipboard('📗')">📗</div>
			<div class="icon" onclick="copyToClipboard('📘')">📘</div>
			<div class="icon" onclick="copyToClipboard('📙')">📙</div>
			<div class="icon" onclick="copyToClipboard('📚')">📚</div>
			<div class="icon" onclick="copyToClipboard('📛')">📛</div>
			<div class="icon" onclick="copyToClipboard('📜')">📜</div>
			<div class="icon" onclick="copyToClipboard('📝')">📝</div>
			<div class="icon" onclick="copyToClipboard('📞')">📞</div>
			<div class="icon" onclick="copyToClipboard('📟')">📟</div>
			<div class="icon" onclick="copyToClipboard('📠')">📠</div>
			<div class="icon" onclick="copyToClipboard('📡')">📡</div>
			<div class="icon" onclick="copyToClipboard('📢')">📢</div>
			<div class="icon" onclick="copyToClipboard('📣')">📣</div>
			<div class="icon" onclick="copyToClipboard('📤')">📤</div>
			<div class="icon" onclick="copyToClipboard('📥')">📥</div>
			<div class="icon" onclick="copyToClipboard('📦')">📦</div>
			<div class="icon" onclick="copyToClipboard('📧')">📧</div>
			<div class="icon" onclick="copyToClipboard('📨')">📨</div>
			<div class="icon" onclick="copyToClipboard('📩')">📩</div>
			<div class="icon" onclick="copyToClipboard('📪')">📪</div>
			<div class="icon" onclick="copyToClipboard('📫')">📫</div>
			<div class="icon" onclick="copyToClipboard('📬')">📬</div>
			<div class="icon" onclick="copyToClipboard('📭')">📭</div>
			<div class="icon" onclick="copyToClipboard('📮')">📮</div>
			<div class="icon" onclick="copyToClipboard('📯')">📯</div>
			<div class="icon" onclick="copyToClipboard('📰')">📰</div>
			<div class="icon" onclick="copyToClipboard('📱')">📱</div>
			<div class="icon" onclick="copyToClipboard('📲')">📲</div>
			<div class="icon" onclick="copyToClipboard('📳')">📳</div>
			<div class="icon" onclick="copyToClipboard('📴')">📴</div>
			<div class="icon" onclick="copyToClipboard('📵')">📵</div>
			<div class="icon" onclick="copyToClipboard('📶')">📶</div>
			<div class="icon" onclick="copyToClipboard('📷')">📷</div>
			<div class="icon" onclick="copyToClipboard('📸')">📸</div>
			<div class="icon" onclick="copyToClipboard('📹')">📹</div>
			<div class="icon" onclick="copyToClipboard('📺')">📺</div>
			<div class="icon" onclick="copyToClipboard('📻')">📻</div>
			<div class="icon" onclick="copyToClipboard('📼')">📼</div>
			<div class="icon" onclick="copyToClipboard('📽️')">📽️</div>
			<div class="icon" onclick="copyToClipboard('📿')">📿</div>
			<div class="icon" onclick="copyToClipboard('🔀')">🔀</div>
			<div class="icon" onclick="copyToClipboard('🔁')">🔁</div>
			<div class="icon" onclick="copyToClipboard('🔂')">🔂</div>
			<div class="icon" onclick="copyToClipboard('🔃')">🔃</div>
			<div class="icon" onclick="copyToClipboard('🔄')">🔄</div>
			<div class="icon" onclick="copyToClipboard('🔅')">🔅</div>
			<div class="icon" onclick="copyToClipboard('🔆')">🔆</div>
			<div class="icon" onclick="copyToClipboard('🔇')">🔇</div>
			<div class="icon" onclick="copyToClipboard('🔈')">🔈</div>
			<div class="icon" onclick="copyToClipboard('🔉')">🔉</div>
			<div class="icon" onclick="copyToClipboard('🔊')">🔊</div>
			<div class="icon" onclick="copyToClipboard('🔋')">🔋</div>
			<div class="icon" onclick="copyToClipboard('🔌')">🔌</div>
			<div class="icon" onclick="copyToClipboard('🔍')">🔍</div>
			<div class="icon" onclick="copyToClipboard('🔎')">🔎</div>
			<div class="icon" onclick="copyToClipboard('🔏')">🔏</div>
			<div class="icon" onclick="copyToClipboard('🔐')">🔐</div>
			<div class="icon" onclick="copyToClipboard('🔑')">🔑</div>
			<div class="icon" onclick="copyToClipboard('🔒')">🔒</div>
			<div class="icon" onclick="copyToClipboard('🔓')">🔓</div>
			<div class="icon" onclick="copyToClipboard('🔔')">🔔</div>
			<div class="icon" onclick="copyToClipboard('🔕')">🔕</div>
			<div class="icon" onclick="copyToClipboard('🔖')">🔖</div>
			<div class="icon" onclick="copyToClipboard('🔗')">🔗</div>
			<div class="icon" onclick="copyToClipboard('🔘')">🔘</div>
			<div class="icon" onclick="copyToClipboard('🔙')">🔙</div>
			<div class="icon" onclick="copyToClipboard('🔚')">🔚</div>
			<div class="icon" onclick="copyToClipboard('🔛')">🔛</div>
			<div class="icon" onclick="copyToClipboard('🔜')">🔜</div>
			<div class="icon" onclick="copyToClipboard('🔝')">🔝</div>
			<div class="icon" onclick="copyToClipboard('🔞')">🔞</div>
			<div class="icon" onclick="copyToClipboard('🔟')">🔟</div>
			<div class="icon" onclick="copyToClipboard('🔠')">🔠</div>
			<div class="icon" onclick="copyToClipboard('🔡')">🔡</div>
			<div class="icon" onclick="copyToClipboard('🔢')">🔢</div>
			<div class="icon" onclick="copyToClipboard('🔣')">🔣</div>
			<div class="icon" onclick="copyToClipboard('🔤')">🔤</div>
			<div class="icon" onclick="copyToClipboard('🔥')">🔥</div>
			<div class="icon" onclick="copyToClipboard('🔦')">🔦</div>
			<div class="icon" onclick="copyToClipboard('🔧')">🔧</div>
			<div class="icon" onclick="copyToClipboard('🔨')">🔨</div>
			<div class="icon" onclick="copyToClipboard('🔩')">🔩</div>
			<div class="icon" onclick="copyToClipboard('🔪')">🔪</div>
			<div class="icon" onclick="copyToClipboard('🔫')">🔫</div>
			<div class="icon" onclick="copyToClipboard('🔬')">🔬</div>
			<div class="icon" onclick="copyToClipboard('🔭')">🔭</div>
			<div class="icon" onclick="copyToClipboard('🔮')">🔮</div>
			<div class="icon" onclick="copyToClipboard('🔯')">🔯</div>
			<div class="icon" onclick="copyToClipboard('🔰')">🔰</div>
			<div class="icon" onclick="copyToClipboard('🔱')">🔱</div>
			<div class="icon" onclick="copyToClipboard('🔲')">🔲</div>
			<div class="icon" onclick="copyToClipboard('🔳')">🔳</div>
			<div class="icon" onclick="copyToClipboard('🔴')">🔴</div>
			<div class="icon" onclick="copyToClipboard('🔵')">🔵</div>
			<div class="icon" onclick="copyToClipboard('🔶')">🔶</div>
			<div class="icon" onclick="copyToClipboard('🔷')">🔷</div>
			<div class="icon" onclick="copyToClipboard('🔸')">🔸</div>
			<div class="icon" onclick="copyToClipboard('🔹')">🔹</div>
			<div class="icon" onclick="copyToClipboard('🔺')">🔺</div>
			<div class="icon" onclick="copyToClipboard('🔻')">🔻</div>
			<div class="icon" onclick="copyToClipboard('🔼')">🔼</div>
			<div class="icon" onclick="copyToClipboard('🔽')">🔽</div>
			<div class="icon" onclick="copyToClipboard('🕉️')">🕉️</div>
			<div class="icon" onclick="copyToClipboard('🕊️')">🕊️</div>
			<div class="icon" onclick="copyToClipboard('🕋')">🕋</div>
			<div class="icon" onclick="copyToClipboard('🕌')">🕌</div>
			<div class="icon" onclick="copyToClipboard('🕍')">🕍</div>
			<div class="icon" onclick="copyToClipboard('🕎')">🕎</div>
			<div class="icon" onclick="copyToClipboard('🕐')">🕐</div>
			<div class="icon" onclick="copyToClipboard('🕑')">🕑</div>
			<div class="icon" onclick="copyToClipboard('🕒')">🕒</div>
			<div class="icon" onclick="copyToClipboard('🕓')">🕓</div>
			<div class="icon" onclick="copyToClipboard('🕔')">🕔</div>
			<div class="icon" onclick="copyToClipboard('🕕')">🕕</div>
			<div class="icon" onclick="copyToClipboard('🕖')">🕖</div>
			<div class="icon" onclick="copyToClipboard('🕗')">🕗</div>
			<div class="icon" onclick="copyToClipboard('🕘')">🕘</div>
			<div class="icon" onclick="copyToClipboard('🕙')">🕙</div>
			<div class="icon" onclick="copyToClipboard('🕚')">🕚</div>
			<div class="icon" onclick="copyToClipboard('🕛')">🕛</div>
			<div class="icon" onclick="copyToClipboard('🕜')">🕜</div>
			<div class="icon" onclick="copyToClipboard('🕝')">🕝</div>
			<div class="icon" onclick="copyToClipboard('🕞')">🕞</div>
			<div class="icon" onclick="copyToClipboard('🕟')">🕟</div>
			<div class="icon" onclick="copyToClipboard('🕠')">🕠</div>
			<div class="icon" onclick="copyToClipboard('🕡')">🕡</div>
			<div class="icon" onclick="copyToClipboard('🕢')">🕢</div>
			<div class="icon" onclick="copyToClipboard('🕣')">🕣</div>
			<div class="icon" onclick="copyToClipboard('🕤')">🕤</div>
			<div class="icon" onclick="copyToClipboard('🕥')">🕥</div>
			<div class="icon" onclick="copyToClipboard('🕦')">🕦</div>
			<div class="icon" onclick="copyToClipboard('🕧')">🕧</div>
			<div class="icon" onclick="copyToClipboard('🕯️')">🕯️</div>
			<div class="icon" onclick="copyToClipboard('🕰️')">🕰️</div>
			<div class="icon" onclick="copyToClipboard('🕳️')">🕳️</div>
			<div class="icon" onclick="copyToClipboard('🕴️')">🕴️</div>
			<div class="icon" onclick="copyToClipboard('🕵️')">🕵️</div>
			<div class="icon" onclick="copyToClipboard('🕶️')">🕶️</div>
			<div class="icon" onclick="copyToClipboard('🕷️')">🕷️</div>
			<div class="icon" onclick="copyToClipboard('🕸️')">🕸️</div>
			<div class="icon" onclick="copyToClipboard('🕹️')">🕹️</div>
			<div class="icon" onclick="copyToClipboard('🕺')">🕺</div>
			<div class="icon" onclick="copyToClipboard('🖇️')">🖇️</div>
			<div class="icon" onclick="copyToClipboard('🖊️')">🖊️</div>
			<div class="icon" onclick="copyToClipboard('🖋️')">🖋️</div>
			<div class="icon" onclick="copyToClipboard('🖌️')">🖌️</div>
			<div class="icon" onclick="copyToClipboard('🖍️')">🖍️</div>
			<div class="icon" onclick="copyToClipboard('🖐️')">🖐️</div>
			<div class="icon" onclick="copyToClipboard('🖕')">🖕</div>
			<div class="icon" onclick="copyToClipboard('🖖')">🖖</div>
			<div class="icon" onclick="copyToClipboard('🖤')">🖤</div>
			<div class="icon" onclick="copyToClipboard('🖥️')">🖥️</div>
			<div class="icon" onclick="copyToClipboard('🖨️')">🖨️</div>
			<div class="icon" onclick="copyToClipboard('🖱️')">🖱️</div>
			<div class="icon" onclick="copyToClipboard('🖲️')">🖲️</div>
			<div class="icon" onclick="copyToClipboard('🖼️')">🖼️</div>
			<div class="icon" onclick="copyToClipboard('🗂️')">🗂️</div>
			<div class="icon" onclick="copyToClipboard('🗃️')">🗃️</div>
			<div class="icon" onclick="copyToClipboard('🗄️')">🗄️</div>
			<div class="icon" onclick="copyToClipboard('🗑️')">🗑️</div>
			<div class="icon" onclick="copyToClipboard('🗒️')">🗒️</div>
			<div class="icon" onclick="copyToClipboard('🗓️')">🗓️</div>
			<div class="icon" onclick="copyToClipboard('🗜️')">🗜️</div>
			<div class="icon" onclick="copyToClipboard('🗝️')">🗝️</div>
			<div class="icon" onclick="copyToClipboard('🗞️')">🗞️</div>
			<div class="icon" onclick="copyToClipboard('🗡️')">🗡️</div>
			<div class="icon" onclick="copyToClipboard('🗣️')">🗣️</div>
			<div class="icon" onclick="copyToClipboard('🗨️')">🗨️</div>
			<div class="icon" onclick="copyToClipboard('🗯️')">🗯️</div>
			<div class="icon" onclick="copyToClipboard('🗳️')">🗳️</div>
			<div class="icon" onclick="copyToClipboard('🗺️')">🗺️</div>
			<div class="icon" onclick="copyToClipboard('🗻')">🗻</div>
			<div class="icon" onclick="copyToClipboard('🗼')">🗼</div>
			<div class="icon" onclick="copyToClipboard('🗽')">🗽</div>
			<div class="icon" onclick="copyToClipboard('🗾')">🗾</div>
			<div class="icon" onclick="copyToClipboard('🗿')">🗿</div>
			<div class="icon" onclick="copyToClipboard('😀')">😀</div>
			<div class="icon" onclick="copyToClipboard('😁')">😁</div>
			<div class="icon" onclick="copyToClipboard('😂')">😂</div>
			<div class="icon" onclick="copyToClipboard('😃')">😃</div>
			<div class="icon" onclick="copyToClipboard('😄')">😄</div>
			<div class="icon" onclick="copyToClipboard('😅')">😅</div>
			<div class="icon" onclick="copyToClipboard('😆')">😆</div>
			<div class="icon" onclick="copyToClipboard('😇')">😇</div>
			<div class="icon" onclick="copyToClipboard('😈')">😈</div>
			<div class="icon" onclick="copyToClipboard('😉')">😉</div>
			<div class="icon" onclick="copyToClipboard('😊')">😊</div>
			<div class="icon" onclick="copyToClipboard('😋')">😋</div>
			<div class="icon" onclick="copyToClipboard('😌')">😌</div>
			<div class="icon" onclick="copyToClipboard('😍')">😍</div>
			<div class="icon" onclick="copyToClipboard('😎')">😎</div>
			<div class="icon" onclick="copyToClipboard('😏')">😏</div>
			<div class="icon" onclick="copyToClipboard('😐')">😐</div>
			<div class="icon" onclick="copyToClipboard('😑')">😑</div>
			<div class="icon" onclick="copyToClipboard('😒')">😒</div>
			<div class="icon" onclick="copyToClipboard('😓')">😓</div>
			<div class="icon" onclick="copyToClipboard('😔')">😔</div>
			<div class="icon" onclick="copyToClipboard('😕')">😕</div>
			<div class="icon" onclick="copyToClipboard('😖')">😖</div>
			<div class="icon" onclick="copyToClipboard('😗')">😗</div>
			<div class="icon" onclick="copyToClipboard('😘')">😘</div>
			<div class="icon" onclick="copyToClipboard('😙')">😙</div>
			<div class="icon" onclick="copyToClipboard('😚')">😚</div>
			<div class="icon" onclick="copyToClipboard('😛')">😛</div>
			<div class="icon" onclick="copyToClipboard('😜')">😜</div>
			<div class="icon" onclick="copyToClipboard('😝')">😝</div>
			<div class="icon" onclick="copyToClipboard('😞')">😞</div>
			<div class="icon" onclick="copyToClipboard('😟')">😟</div>
			<div class="icon" onclick="copyToClipboard('😠')">😠</div>
			<div class="icon" onclick="copyToClipboard('😡')">😡</div>
			<div class="icon" onclick="copyToClipboard('😢')">😢</div>
			<div class="icon" onclick="copyToClipboard('😣')">😣</div>
			<div class="icon" onclick="copyToClipboard('😤')">😤</div>
			<div class="icon" onclick="copyToClipboard('😥')">😥</div>
			<div class="icon" onclick="copyToClipboard('😦')">😦</div>
			<div class="icon" onclick="copyToClipboard('😧')">😧</div>
			<div class="icon" onclick="copyToClipboard('😨')">😨</div>
			<div class="icon" onclick="copyToClipboard('😩')">😩</div>
			<div class="icon" onclick="copyToClipboard('😪')">😪</div>
			<div class="icon" onclick="copyToClipboard('😫')">😫</div>
			<div class="icon" onclick="copyToClipboard('😬')">😬</div>
			<div class="icon" onclick="copyToClipboard('😭')">😭</div>
			<div class="icon" onclick="copyToClipboard('😮')">😮</div>
			<div class="icon" onclick="copyToClipboard('😯')">😯</div>
			<div class="icon" onclick="copyToClipboard('😰')">😰</div>
			<div class="icon" onclick="copyToClipboard('😱')">😱</div>
			<div class="icon" onclick="copyToClipboard('😲')">😲</div>
			<div class="icon" onclick="copyToClipboard('😳')">😳</div>
			<div class="icon" onclick="copyToClipboard('😴')">😴</div>
			<div class="icon" onclick="copyToClipboard('😵')">😵</div>
			<div class="icon" onclick="copyToClipboard('😶')">😶</div>
			<div class="icon" onclick="copyToClipboard('😷')">😷</div>
			<div class="icon" onclick="copyToClipboard('😸')">😸</div>
			<div class="icon" onclick="copyToClipboard('😹')">😹</div>
			<div class="icon" onclick="copyToClipboard('😺')">😺</div>
			<div class="icon" onclick="copyToClipboard('😻')">😻</div>
			<div class="icon" onclick="copyToClipboard('😼')">😼</div>
			<div class="icon" onclick="copyToClipboard('😽')">😽</div>
			<div class="icon" onclick="copyToClipboard('😾')">😾</div>
			<div class="icon" onclick="copyToClipboard('😿')">😿</div>
			<div class="icon" onclick="copyToClipboard('🙀')">🙀</div>
			<div class="icon" onclick="copyToClipboard('🙁')">🙁</div>
			<div class="icon" onclick="copyToClipboard('🙂')">🙂</div>
			<div class="icon" onclick="copyToClipboard('🙃')">🙃</div>
			<div class="icon" onclick="copyToClipboard('🙄')">🙄</div>
			<div class="icon" onclick="copyToClipboard('🙅')">🙅</div>
			<div class="icon" onclick="copyToClipboard('🙆')">🙆</div>
			<div class="icon" onclick="copyToClipboard('🙇')">🙇</div>
			<div class="icon" onclick="copyToClipboard('🙈')">🙈</div>
			<div class="icon" onclick="copyToClipboard('🙉')">🙉</div>
			<div class="icon" onclick="copyToClipboard('🙊')">🙊</div>
			<div class="icon" onclick="copyToClipboard('🙋')">🙋</div>
			<div class="icon" onclick="copyToClipboard('🙌')">🙌</div>
			<div class="icon" onclick="copyToClipboard('🙍')">🙍</div>
			<div class="icon" onclick="copyToClipboard('🙎')">🙎</div>
			<div class="icon" onclick="copyToClipboard('🙏')">🙏</div>
			<div class="icon" onclick="copyToClipboard('🚀')">🚀</div>
			<div class="icon" onclick="copyToClipboard('🚁')">🚁</div>
			<div class="icon" onclick="copyToClipboard('🚂')">🚂</div>
			<div class="icon" onclick="copyToClipboard('🚃')">🚃</div>
			<div class="icon" onclick="copyToClipboard('🚄')">🚄</div>
			<div class="icon" onclick="copyToClipboard('🚅')">🚅</div>
			<div class="icon" onclick="copyToClipboard('🚆')">🚆</div>
			<div class="icon" onclick="copyToClipboard('🚇')">🚇</div>
			<div class="icon" onclick="copyToClipboard('🚈')">🚈</div>
			<div class="icon" onclick="copyToClipboard('🚉')">🚉</div>
			<div class="icon" onclick="copyToClipboard('🚊')">🚊</div>
			<div class="icon" onclick="copyToClipboard('🚋')">🚋</div>
			<div class="icon" onclick="copyToClipboard('🚌')">🚌</div>
			<div class="icon" onclick="copyToClipboard('🚍')">🚍</div>
			<div class="icon" onclick="copyToClipboard('🚎')">🚎</div>
			<div class="icon" onclick="copyToClipboard('🚏')">🚏</div>
			<div class="icon" onclick="copyToClipboard('🚐')">🚐</div>
			<div class="icon" onclick="copyToClipboard('🚑')">🚑</div>
			<div class="icon" onclick="copyToClipboard('🚒')">🚒</div>
			<div class="icon" onclick="copyToClipboard('🚓')">🚓</div>
			<div class="icon" onclick="copyToClipboard('🚔')">🚔</div>
			<div class="icon" onclick="copyToClipboard('🚕')">🚕</div>
			<div class="icon" onclick="copyToClipboard('🚖')">🚖</div>
			<div class="icon" onclick="copyToClipboard('🚗')">🚗</div>
			<div class="icon" onclick="copyToClipboard('🚘')">🚘</div>
			<div class="icon" onclick="copyToClipboard('🚙')">🚙</div>
			<div class="icon" onclick="copyToClipboard('🚚')">🚚</div>
			<div class="icon" onclick="copyToClipboard('🚛')">🚛</div>
			<div class="icon" onclick="copyToClipboard('🚜')">🚜</div>
			<div class="icon" onclick="copyToClipboard('🚝')">🚝</div>
			<div class="icon" onclick="copyToClipboard('🚞')">🚞</div>
			<div class="icon" onclick="copyToClipboard('🚟')">🚟</div>
			<div class="icon" onclick="copyToClipboard('🚠')">🚠</div>
			<div class="icon" onclick="copyToClipboard('🚡')">🚡</div>
			<div class="icon" onclick="copyToClipboard('🚢')">🚢</div>
			<div class="icon" onclick="copyToClipboard('🚣')">🚣</div>
			<div class="icon" onclick="copyToClipboard('🚤')">🚤</div>
			<div class="icon" onclick="copyToClipboard('🚥')">🚥</div>
			<div class="icon" onclick="copyToClipboard('🚦')">🚦</div>
			<div class="icon" onclick="copyToClipboard('🚧')">🚧</div>
			<div class="icon" onclick="copyToClipboard('🚨')">🚨</div>
			<div class="icon" onclick="copyToClipboard('🚩')">🚩</div>
			<div class="icon" onclick="copyToClipboard('🚪')">🚪</div>
			<div class="icon" onclick="copyToClipboard('🚫')">🚫</div>
			<div class="icon" onclick="copyToClipboard('🚬')">🚬</div>
			<div class="icon" onclick="copyToClipboard('🚭')">🚭</div>
			<div class="icon" onclick="copyToClipboard('🚮')">🚮</div>
			<div class="icon" onclick="copyToClipboard('🚯')">🚯</div>
			<div class="icon" onclick="copyToClipboard('🚰')">🚰</div>
			<div class="icon" onclick="copyToClipboard('🚱')">🚱</div>
			<div class="icon" onclick="copyToClipboard('🚲')">🚲</div>
			<div class="icon" onclick="copyToClipboard('🚳')">🚳</div>
			<div class="icon" onclick="copyToClipboard('🚴')">🚴</div>
			<div class="icon" onclick="copyToClipboard('🚵')">🚵</div>
			<div class="icon" onclick="copyToClipboard('🚶')">🚶</div>
			<div class="icon" onclick="copyToClipboard('🚷')">🚷</div>
			<div class="icon" onclick="copyToClipboard('🚸')">🚸</div>
			<div class="icon" onclick="copyToClipboard('🚹')">🚹</div>
			<div class="icon" onclick="copyToClipboard('🚺')">🚺</div>
			<div class="icon" onclick="copyToClipboard('🚻')">🚻</div>
			<div class="icon" onclick="copyToClipboard('🚼')">🚼</div>
			<div class="icon" onclick="copyToClipboard('🚽')">🚽</div>
			<div class="icon" onclick="copyToClipboard('🚾')">🚾</div>
			<div class="icon" onclick="copyToClipboard('🚿')">🚿</div>
			<div class="icon" onclick="copyToClipboard('🛀')">🛀</div>
			<div class="icon" onclick="copyToClipboard('🛁')">🛁</div>
			<div class="icon" onclick="copyToClipboard('🛂')">🛂</div>
			<div class="icon" onclick="copyToClipboard('🛃')">🛃</div>
			<div class="icon" onclick="copyToClipboard('🛄')">🛄</div>
			<div class="icon" onclick="copyToClipboard('🛅')">🛅</div>
			<div class="icon" onclick="copyToClipboard('🛋️')">🛋️</div>
			<div class="icon" onclick="copyToClipboard('🛌')">🛌</div>
			<div class="icon" onclick="copyToClipboard('🛍️')">🛍️</div>
			<div class="icon" onclick="copyToClipboard('🛎️')">🛎️</div>
			<div class="icon" onclick="copyToClipboard('🛏️')">🛏️</div>
			<div class="icon" onclick="copyToClipboard('🛐')">🛐</div>
			<div class="icon" onclick="copyToClipboard('🛑')">🛑</div>
			<div class="icon" onclick="copyToClipboard('🛒')">🛒</div>
			<div class="icon" onclick="copyToClipboard('🛕')">🛕</div>
			<div class="icon" onclick="copyToClipboard('🛠️')">🛠️</div>
			<div class="icon" onclick="copyToClipboard('🛡️')">🛡️</div>
			<div class="icon" onclick="copyToClipboard('🛢️')">🛢️</div>
			<div class="icon" onclick="copyToClipboard('🛣️')">🛣️</div>
			<div class="icon" onclick="copyToClipboard('🛤️')">🛤️</div>
			<div class="icon" onclick="copyToClipboard('🛥️')">🛥️</div>
			<div class="icon" onclick="copyToClipboard('🛩️')">🛩️</div>
			<div class="icon" onclick="copyToClipboard('🛫')">🛫</div>
			<div class="icon" onclick="copyToClipboard('🛬')">🛬</div>
			<div class="icon" onclick="copyToClipboard('🛰️')">🛰️</div>
			<div class="icon" onclick="copyToClipboard('🛳️')">🛳️</div>
			<div class="icon" onclick="copyToClipboard('🛴')">🛴</div>
			<div class="icon" onclick="copyToClipboard('🛵')">🛵</div>
			<div class="icon" onclick="copyToClipboard('🛶')">🛶</div>
			<div class="icon" onclick="copyToClipboard('🛷')">🛷</div>
			<div class="icon" onclick="copyToClipboard('🛸')">🛸</div>
			<div class="icon" onclick="copyToClipboard('🛹')">🛹</div>
			<div class="icon" onclick="copyToClipboard('🛺')">🛺</div>
			<div class="icon" onclick="copyToClipboard('🟠')">🟠</div>
			<div class="icon" onclick="copyToClipboard('🟡')">🟡</div>
			<div class="icon" onclick="copyToClipboard('🟢')">🟢</div>
			<div class="icon" onclick="copyToClipboard('🟣')">🟣</div>
			<div class="icon" onclick="copyToClipboard('🟤')">🟤</div>
			<div class="icon" onclick="copyToClipboard('🟥')">🟥</div>
			<div class="icon" onclick="copyToClipboard('🟦')">🟦</div>
			<div class="icon" onclick="copyToClipboard('🟧')">🟧</div>
			<div class="icon" onclick="copyToClipboard('🟨')">🟨</div>
			<div class="icon" onclick="copyToClipboard('🟩')">🟩</div>
			<div class="icon" onclick="copyToClipboard('🟪')">🟪</div>
			<div class="icon" onclick="copyToClipboard('🟫')">🟫</div>
			<div class="icon" onclick="copyToClipboard('🤍')">🤍</div>
			<div class="icon" onclick="copyToClipboard('🤎')">🤎</div>
			<div class="icon" onclick="copyToClipboard('🤏')">🤏</div>
			<div class="icon" onclick="copyToClipboard('🤐')">🤐</div>
			<div class="icon" onclick="copyToClipboard('🤑')">🤑</div>
			<div class="icon" onclick="copyToClipboard('🤒')">🤒</div>
			<div class="icon" onclick="copyToClipboard('🤓')">🤓</div>
			<div class="icon" onclick="copyToClipboard('🤔')">🤔</div>
			<div class="icon" onclick="copyToClipboard('🤕')">🤕</div>
			<div class="icon" onclick="copyToClipboard('🤖')">🤖</div>
			<div class="icon" onclick="copyToClipboard('🤗')">🤗</div>
			<div class="icon" onclick="copyToClipboard('🤘')">🤘</div>
			<div class="icon" onclick="copyToClipboard('🤙')">🤙</div>
			<div class="icon" onclick="copyToClipboard('🤚')">🤚</div>
			<div class="icon" onclick="copyToClipboard('🤛')">🤛</div>
			<div class="icon" onclick="copyToClipboard('🤜')">🤜</div>
			<div class="icon" onclick="copyToClipboard('🤝')">🤝</div>
			<div class="icon" onclick="copyToClipboard('🤞')">🤞</div>
			<div class="icon" onclick="copyToClipboard('🤟')">🤟</div>
			<div class="icon" onclick="copyToClipboard('🤠')">🤠</div>
			<div class="icon" onclick="copyToClipboard('🤡')">🤡</div>
			<div class="icon" onclick="copyToClipboard('🤢')">🤢</div>
			<div class="icon" onclick="copyToClipboard('🤣')">🤣</div>
			<div class="icon" onclick="copyToClipboard('🤤')">🤤</div>
			<div class="icon" onclick="copyToClipboard('🤥')">🤥</div>
			<div class="icon" onclick="copyToClipboard('🤦')">🤦</div>
			<div class="icon" onclick="copyToClipboard('🤧')">🤧</div>
			<div class="icon" onclick="copyToClipboard('🤨')">🤨</div>
			<div class="icon" onclick="copyToClipboard('🤩')">🤩</div>
			<div class="icon" onclick="copyToClipboard('🤪')">🤪</div>
			<div class="icon" onclick="copyToClipboard('🤫')">🤫</div>
			<div class="icon" onclick="copyToClipboard('🤬')">🤬</div>
			<div class="icon" onclick="copyToClipboard('🤭')">🤭</div>
			<div class="icon" onclick="copyToClipboard('🤮')">🤮</div>
			<div class="icon" onclick="copyToClipboard('🤯')">🤯</div>
			<div class="icon" onclick="copyToClipboard('🤰')">🤰</div>
			<div class="icon" onclick="copyToClipboard('🤱')">🤱</div>
			<div class="icon" onclick="copyToClipboard('🤲')">🤲</div>
			<div class="icon" onclick="copyToClipboard('🤳')">🤳</div>
			<div class="icon" onclick="copyToClipboard('🤴')">🤴</div>
			<div class="icon" onclick="copyToClipboard('🤵')">🤵</div>
			<div class="icon" onclick="copyToClipboard('🤶')">🤶</div>
			<div class="icon" onclick="copyToClipboard('🤷')">🤷</div>
			<div class="icon" onclick="copyToClipboard('🤸')">🤸</div>
			<div class="icon" onclick="copyToClipboard('🤹')">🤹</div>
			<div class="icon" onclick="copyToClipboard('🤺')">🤺</div>
			<div class="icon" onclick="copyToClipboard('🤼')">🤼</div>
			<div class="icon" onclick="copyToClipboard('🤽')">🤽</div>
			<div class="icon" onclick="copyToClipboard('🤾')">🤾</div>
			<div class="icon" onclick="copyToClipboard('🤿')">🤿</div>
			<div class="icon" onclick="copyToClipboard('🥀')">🥀</div>
			<div class="icon" onclick="copyToClipboard('🥁')">🥁</div>
			<div class="icon" onclick="copyToClipboard('🥂')">🥂</div>
			<div class="icon" onclick="copyToClipboard('🥃')">🥃</div>
			<div class="icon" onclick="copyToClipboard('🥄')">🥄</div>
			<div class="icon" onclick="copyToClipboard('🥅')">🥅</div>
			<div class="icon" onclick="copyToClipboard('🥇')">🥇</div>
			<div class="icon" onclick="copyToClipboard('🥈')">🥈</div>
			<div class="icon" onclick="copyToClipboard('🥉')">🥉</div>
			<div class="icon" onclick="copyToClipboard('🥊')">🥊</div>
			<div class="icon" onclick="copyToClipboard('🥋')">🥋</div>
			<div class="icon" onclick="copyToClipboard('🥌')">🥌</div>
			<div class="icon" onclick="copyToClipboard('🥍')">🥍</div>
			<div class="icon" onclick="copyToClipboard('🥎')">🥎</div>
			<div class="icon" onclick="copyToClipboard('🥏')">🥏</div>
			<div class="icon" onclick="copyToClipboard('🥐')">🥐</div>
			<div class="icon" onclick="copyToClipboard('🥑')">🥑</div>
			<div class="icon" onclick="copyToClipboard('🥒')">🥒</div>
			<div class="icon" onclick="copyToClipboard('🥓')">🥓</div>
			<div class="icon" onclick="copyToClipboard('🥔')">🥔</div>
			<div class="icon" onclick="copyToClipboard('🥕')">🥕</div>
			<div class="icon" onclick="copyToClipboard('🥖')">🥖</div>
			<div class="icon" onclick="copyToClipboard('🥗')">🥗</div>
			<div class="icon" onclick="copyToClipboard('🥘')">🥘</div>
			<div class="icon" onclick="copyToClipboard('🥙')">🥙</div>
			<div class="icon" onclick="copyToClipboard('🥚')">🥚</div>
			<div class="icon" onclick="copyToClipboard('🥛')">🥛</div>
			<div class="icon" onclick="copyToClipboard('🥜')">🥜</div>
			<div class="icon" onclick="copyToClipboard('🥝')">🥝</div>
			<div class="icon" onclick="copyToClipboard('🥞')">🥞</div>
			<div class="icon" onclick="copyToClipboard('🥟')">🥟</div>
			<div class="icon" onclick="copyToClipboard('🥠')">🥠</div>
			<div class="icon" onclick="copyToClipboard('🥡')">🥡</div>
			<div class="icon" onclick="copyToClipboard('🥢')">🥢</div>
			<div class="icon" onclick="copyToClipboard('🥣')">🥣</div>
			<div class="icon" onclick="copyToClipboard('🥤')">🥤</div>
			<div class="icon" onclick="copyToClipboard('🥥')">🥥</div>
			<div class="icon" onclick="copyToClipboard('🥦')">🥦</div>
			<div class="icon" onclick="copyToClipboard('🥧')">🥧</div>
			<div class="icon" onclick="copyToClipboard('🥨')">🥨</div>
			<div class="icon" onclick="copyToClipboard('🥩')">🥩</div>
			<div class="icon" onclick="copyToClipboard('🥪')">🥪</div>
			<div class="icon" onclick="copyToClipboard('🥫')">🥫</div>
			<div class="icon" onclick="copyToClipboard('🥬')">🥬</div>
			<div class="icon" onclick="copyToClipboard('🥭')">🥭</div>
			<div class="icon" onclick="copyToClipboard('🥮')">🥮</div>
			<div class="icon" onclick="copyToClipboard('🥯')">🥯</div>
			<div class="icon" onclick="copyToClipboard('🥰')">🥰</div>
			<div class="icon" onclick="copyToClipboard('🥱')">🥱</div>
			<div class="icon" onclick="copyToClipboard('🥳')">🥳</div>
			<div class="icon" onclick="copyToClipboard('🥴')">🥴</div>
			<div class="icon" onclick="copyToClipboard('🥵')">🥵</div>
			<div class="icon" onclick="copyToClipboard('🥶')">🥶</div>
			<div class="icon" onclick="copyToClipboard('🥺')">🥺</div>
			<div class="icon" onclick="copyToClipboard('🥻')">🥻</div>
			<div class="icon" onclick="copyToClipboard('🥼')">🥼</div>
			<div class="icon" onclick="copyToClipboard('🥽')">🥽</div>
			<div class="icon" onclick="copyToClipboard('🥾')">🥾</div>
			<div class="icon" onclick="copyToClipboard('🥿')">🥿</div>
			<div class="icon" onclick="copyToClipboard('🦀')">🦀</div>
			<div class="icon" onclick="copyToClipboard('🦁')">🦁</div>
			<div class="icon" onclick="copyToClipboard('🦂')">🦂</div>
			<div class="icon" onclick="copyToClipboard('🦃')">🦃</div>
			<div class="icon" onclick="copyToClipboard('🦄')">🦄</div>
			<div class="icon" onclick="copyToClipboard('🦅')">🦅</div>
			<div class="icon" onclick="copyToClipboard('🦆')">🦆</div>
			<div class="icon" onclick="copyToClipboard('🦇')">🦇</div>
			<div class="icon" onclick="copyToClipboard('🦈')">🦈</div>
			<div class="icon" onclick="copyToClipboard('🦉')">🦉</div>
			<div class="icon" onclick="copyToClipboard('🦊')">🦊</div>
			<div class="icon" onclick="copyToClipboard('🦋')">🦋</div>
			<div class="icon" onclick="copyToClipboard('🦌')">🦌</div>
			<div class="icon" onclick="copyToClipboard('🦍')">🦍</div>
			<div class="icon" onclick="copyToClipboard('🦎')">🦎</div>
			<div class="icon" onclick="copyToClipboard('🦏')">🦏</div>
			<div class="icon" onclick="copyToClipboard('🦐')">🦐</div>
			<div class="icon" onclick="copyToClipboard('🦑')">🦑</div>
			<div class="icon" onclick="copyToClipboard('🦒')">🦒</div>
			<div class="icon" onclick="copyToClipboard('🦓')">🦓</div>
			<div class="icon" onclick="copyToClipboard('🦔')">🦔</div>
			<div class="icon" onclick="copyToClipboard('🦕')">🦕</div>
			<div class="icon" onclick="copyToClipboard('🦖')">🦖</div>
			<div class="icon" onclick="copyToClipboard('🦗')">🦗</div>
			<div class="icon" onclick="copyToClipboard('🦘')">🦘</div>
			<div class="icon" onclick="copyToClipboard('🦙')">🦙</div>
			<div class="icon" onclick="copyToClipboard('🦚')">🦚</div>
			<div class="icon" onclick="copyToClipboard('🦛')">🦛</div>
			<div class="icon" onclick="copyToClipboard('🦜')">🦜</div>
			<div class="icon" onclick="copyToClipboard('🦝')">🦝</div>
			<div class="icon" onclick="copyToClipboard('🦞')">🦞</div>
			<div class="icon" onclick="copyToClipboard('🦟')">🦟</div>
			<div class="icon" onclick="copyToClipboard('🦠')">🦠</div>
			<div class="icon" onclick="copyToClipboard('🦡')">🦡</div>
			<div class="icon" onclick="copyToClipboard('🦢')">🦢</div>
			<div class="icon" onclick="copyToClipboard('🦥')">🦥</div>
			<div class="icon" onclick="copyToClipboard('🦦')">🦦</div>
			<div class="icon" onclick="copyToClipboard('🦧')">🦧</div>
			<div class="icon" onclick="copyToClipboard('🦨')">🦨</div>
			<div class="icon" onclick="copyToClipboard('🦩')">🦩</div>
			<div class="icon" onclick="copyToClipboard('🦪')">🦪</div>
			<div class="icon" onclick="copyToClipboard('🦮')">🦮</div>
			<div class="icon" onclick="copyToClipboard('🦯')">🦯</div>
			<div class="icon" onclick="copyToClipboard('🦰')">🦰</div>
			<div class="icon" onclick="copyToClipboard('🦱')">🦱</div>
			<div class="icon" onclick="copyToClipboard('🦲')">🦲</div>
			<div class="icon" onclick="copyToClipboard('🦳')">🦳</div>
			<div class="icon" onclick="copyToClipboard('🦴')">🦴</div>
			<div class="icon" onclick="copyToClipboard('🦵')">🦵</div>
			<div class="icon" onclick="copyToClipboard('🦶')">🦶</div>
			<div class="icon" onclick="copyToClipboard('🦷')">🦷</div>
			<div class="icon" onclick="copyToClipboard('🦸')">🦸</div>
			<div class="icon" onclick="copyToClipboard('🦹')">🦹</div>
			<div class="icon" onclick="copyToClipboard('🦺')">🦺</div>
			<div class="icon" onclick="copyToClipboard('🦻')">🦻</div>
			<div class="icon" onclick="copyToClipboard('🦼')">🦼</div>
			<div class="icon" onclick="copyToClipboard('🦽')">🦽</div>
			<div class="icon" onclick="copyToClipboard('🦾')">🦾</div>
			<div class="icon" onclick="copyToClipboard('🦿')">🦿</div>
			<div class="icon" onclick="copyToClipboard('🧀')">🧀</div>
			<div class="icon" onclick="copyToClipboard('🧁')">🧁</div>
			<div class="icon" onclick="copyToClipboard('🧂')">🧂</div>
			<div class="icon" onclick="copyToClipboard('🧃')">🧃</div>
			<div class="icon" onclick="copyToClipboard('🧄')">🧄</div>
			<div class="icon" onclick="copyToClipboard('🧅')">🧅</div>
			<div class="icon" onclick="copyToClipboard('🧆')">🧆</div>
			<div class="icon" onclick="copyToClipboard('🧇')">🧇</div>
			<div class="icon" onclick="copyToClipboard('🧈')">🧈</div>
			<div class="icon" onclick="copyToClipboard('🧉')">🧉</div>
			<div class="icon" onclick="copyToClipboard('🧊')">🧊</div>
			<div class="icon" onclick="copyToClipboard('🧍')">🧍</div>
			<div class="icon" onclick="copyToClipboard('🧎')">🧎</div>
			<div class="icon" onclick="copyToClipboard('🧏')">🧏</div>
			<div class="icon" onclick="copyToClipboard('🧐')">🧐</div>
			<div class="icon" onclick="copyToClipboard('🧑')">🧑</div>
			<div class="icon" onclick="copyToClipboard('🧒')">🧒</div>
			<div class="icon" onclick="copyToClipboard('🧓')">🧓</div>
			<div class="icon" onclick="copyToClipboard('🧔')">🧔</div>
			<div class="icon" onclick="copyToClipboard('🧕')">🧕</div>
			<div class="icon" onclick="copyToClipboard('🧖')">🧖</div>
			<div class="icon" onclick="copyToClipboard('🧗')">🧗</div>
			<div class="icon" onclick="copyToClipboard('🧘')">🧘</div>
			<div class="icon" onclick="copyToClipboard('🧙')">🧙</div>
			<div class="icon" onclick="copyToClipboard('🧚')">🧚</div>
			<div class="icon" onclick="copyToClipboard('🧛')">🧛</div>
			<div class="icon" onclick="copyToClipboard('🧜')">🧜</div>
			<div class="icon" onclick="copyToClipboard('🧝')">🧝</div>
			<div class="icon" onclick="copyToClipboard('🧞')">🧞</div>
			<div class="icon" onclick="copyToClipboard('🧟')">🧟</div>
			<div class="icon" onclick="copyToClipboard('🧠')">🧠</div>
			<div class="icon" onclick="copyToClipboard('🧡')">🧡</div>
			<div class="icon" onclick="copyToClipboard('🧢')">🧢</div>
			<div class="icon" onclick="copyToClipboard('🧣')">🧣</div>
			<div class="icon" onclick="copyToClipboard('🧤')">🧤</div>
			<div class="icon" onclick="copyToClipboard('🧥')">🧥</div>
			<div class="icon" onclick="copyToClipboard('🧦')">🧦</div>
			<div class="icon" onclick="copyToClipboard('🧧')">🧧</div>
			<div class="icon" onclick="copyToClipboard('🧨')">🧨</div>
			<div class="icon" onclick="copyToClipboard('🧩')">🧩</div>
			<div class="icon" onclick="copyToClipboard('🧪')">🧪</div>
			<div class="icon" onclick="copyToClipboard('🧫')">🧫</div>
			<div class="icon" onclick="copyToClipboard('🧬')">🧬</div>
			<div class="icon" onclick="copyToClipboard('🧭')">🧭</div>
			<div class="icon" onclick="copyToClipboard('🧮')">🧮</div>
			<div class="icon" onclick="copyToClipboard('🧯')">🧯</div>
			<div class="icon" onclick="copyToClipboard('🧰')">🧰</div>
			<div class="icon" onclick="copyToClipboard('🧱')">🧱</div>
			<div class="icon" onclick="copyToClipboard('🧲')">🧲</div>
			<div class="icon" onclick="copyToClipboard('🧳')">🧳</div>
			<div class="icon" onclick="copyToClipboard('🧴')">🧴</div>
			<div class="icon" onclick="copyToClipboard('🧵')">🧵</div>
			<div class="icon" onclick="copyToClipboard('🧶')">🧶</div>
			<div class="icon" onclick="copyToClipboard('🧷')">🧷</div>
			<div class="icon" onclick="copyToClipboard('🧸')">🧸</div>
			<div class="icon" onclick="copyToClipboard('🧹')">🧹</div>
			<div class="icon" onclick="copyToClipboard('🧺')">🧺</div>
			<div class="icon" onclick="copyToClipboard('🧻')">🧻</div>
			<div class="icon" onclick="copyToClipboard('🧼')">🧼</div>
			<div class="icon" onclick="copyToClipboard('🧽')">🧽</div>
			<div class="icon" onclick="copyToClipboard('🧾')">🧾</div>
			<div class="icon" onclick="copyToClipboard('🧿')">🧿</div>
			<div class="icon" onclick="copyToClipboard('🩰')">🩰</div>
			<div class="icon" onclick="copyToClipboard('🩱')">🩱</div>
			<div class="icon" onclick="copyToClipboard('🩲')">🩲</div>
			<div class="icon" onclick="copyToClipboard('🩳')">🩳</div>
			<div class="icon" onclick="copyToClipboard('🩸')">🩸</div>
			<div class="icon" onclick="copyToClipboard('🩹')">🩹</div>
			<div class="icon" onclick="copyToClipboard('🩺')">🩺</div>
			<div class="icon" onclick="copyToClipboard('🪀')">🪀</div>
			<div class="icon" onclick="copyToClipboard('🪁')">🪁</div>
			<div class="icon" onclick="copyToClipboard('🪂')">🪂</div>
			<div class="icon" onclick="copyToClipboard('🪐')">🪐</div>
			<div class="icon" onclick="copyToClipboard('🪑')">🪑</div>
			<div class="icon" onclick="copyToClipboard('🪒')">🪒</div>
			<div class="icon" onclick="copyToClipboard('🪓')">🪓</div>
			<div class="icon" onclick="copyToClipboard('🪔')">🪔</div>
			<div class="icon" onclick="copyToClipboard('🪕')">🪕</div>
		</div>

		<script client:load>
			function copyToClipboard(icon) {
			navigator.clipboard.writeText(icon).then(() => {
				alert("Emoji đã được copy: " + icon);
			}).catch(err => {
				console.error("Lỗi khi copy emoji: ", err);
			});
			}
		</script>

</section>