---
import Button from '~/components/ui/button.astro';
import CTA from '~/components/widgets/services.astro';
---

<section class="relative md:-mt-[76px] not-prose">
	<div class="absolute inset-0 pointer-events-none" aria-hidden="true"></div>
		<div class="relative max-w-7xl mx-auto px-4 sm:px-6">
			<div class="pt-0 md:pt-[76px] pointer-events-none"></div>
			<div class="pt-0 md:pt-[76px] pointer-events-none"></div>
				<h2 class="mx-auto max-w-7xl md:px-6 leading-tighter text-center text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-6 font-heading">
					Công cụ chuyển đổi chữ hoa thành chữ thường
				</h2>

			<div class="mx-auto max-w-7xl md:px-6 px-4">

				<textarea id="input" placeholder="Nhập dữ liệu thô vào đây" class="px-4 mb-4 py-6 block w-full text-md rounded-lg border border-gray-200 dark:border-gray-700 bg-white dark:bg-slate-900" required></textarea>

				<button id="convert-btn" class="px-4 py-2 bg-primary text-white rounded-lg mr-2">Chuyển đổi</button>

				<button id="copy-btn" class="px-4 py-2 bg-primary text-white rounded-lg" disabled>Sao chép</button>

				<div id="output" class="mt-4 text-lg border border-gray-300 p-4 rounded-lg"></div>

			</div>

			<script>
				document.addEventListener("DOMContentLoaded", function () {
					const buttonConvert = document.getElementById('convert-btn');
					const buttonCopy = document.getElementById('copy-btn');
					const input = document.getElementById('input');
					const output = document.getElementById('output');

					buttonConvert.addEventListener('click', function() {
						const inputText = input.value;
						const lowerCaseText = inputText.toLowerCase();
						output.innerText = lowerCaseText;

						if (lowerCaseText.trim() !== "") {
							buttonCopy.disabled = false;
						}
					});

					buttonCopy.addEventListener('click', function() {
						const tempTextArea = document.createElement('textarea');
						tempTextArea.value = output.innerText;
						document.body.appendChild(tempTextArea);

						tempTextArea.select();
						document.execCommand('copy');

						document.body.removeChild(tempTextArea);

						alert('Nội dung đã được sao chép thành công.');
					});
				});
			</script>
		</div>
</section>