---
import Analytics from '~/components/widgets/analytics.astro';
---

<section class="relative md:-mt-[76px] not-prose">

	<Analytics

		id="normalize"
		title="Công cụ chuẩn hóa dữ liệu thô"
		description="Nhập văn bản để chuyển đổi thành định dạng URL."

		inputType="text"
		outputType="text"

		placeholder="Nhập văn bản cần chuyển đổi…"
		debounceTime={500}

	/>

</section>

<script client:load>

	document.addEventListener('DOMContentLoaded', () => {
		const textInput = document.getElementById('normalize-input');
		const resultOutput = document.getElementById('normalize-text-output');
		let debounceTimeout;

		function convertToSlug(text) {
			return text
				.toLowerCase()
				.trim()
				.normalize('NFD')
				.replace(/[\u0300-\u036f]/g, '')
				.replace(/[^\w\s-]/g, '')
				.replace(/\s+/g, '-')
				.replace(/-+/g, '-');
		}

		textInput.addEventListener('input', () => {
			const inputText = textInput.value;
			clearTimeout(debounceTimeout);
			
			debounceTimeout = setTimeout(() => {
				if (!inputText.trim()) {
					resultOutput.textContent = 'Hãy nhập văn bản để chuyển đổi.';
					return;
				}
				resultOutput.textContent = convertToSlug(inputText);
			}, 500);
		});
	});

</script>