---
import Analytics from '~/components/widgets/analytics.astro';
---
<section class="relative md:-mt-[76px] not-prose">

	<Analytics

		id="current-time"
		title="Thời gian hiện tại"
		description="Hiển thị thời gian hiện tại theo định dạng chuẩn"

		inputType="hidden"
		outputType="text"

		placeholder=""
		debounceTime={1000}

	/>

</section>

<script client:load>

	document.addEventListener('DOMContentLoaded', () => {
		const resultOutput = document.getElementById('current-time-text-output');
		
		function padNumber(num) {
			return num < 10 ? `0${num}` : num;
		}

		function updateTime() {
			const now = new Date();
			const hours = padNumber(now.getHours());
			const minutes = padNumber(now.getMinutes());
			const seconds = padNumber(now.getSeconds());
			
			resultOutput.textContent = `Bây giờ là: ${hours} giờ ${minutes} phút ${seconds} giây.`;
		}

		updateTime();
		
		setInterval(updateTime, 1000);
	});

</script>