---
export interface Props {
	url: string | URL;
}

const { text, url, class: className = 'inline-block' } = Astro.props;
---

<div class="mx-auto px-6 sm:px-6 max-w-3xl pt-8 md:pt-4 pb-12 md:pb-20">

<div class="fb-comments" data-href="https://nhavantuonglai.com/" data-width="720" data-numposts="5" loading="lazy" data-mobile=""> </div>

</div>