---
import Item from './components/blog/grid-item.astro';
import type { Post } from './types';

export interface Props {
	posts: Array<Post>;
}

const { posts } = Astro.props;
---

<div class="grid mb-6 md:mb-12 gap-6 row-gap-5 md:grid-cols-2 lg:grid-cols-4">
	{posts.map((post) =><Item post={post}/>)}
</div>