---
import merge from 'lodash.merge';
import { AstroSeo } from '@astrolib/seo';
import type { Props as AstroSeoProps } from '@astrolib/seo';

import { SITE, METADATA } from 'nhavantuonglai:config';
import type { MetaData } from '~/types';
import { getCanonical } from '~/utils/permalinks';
import { adaptOpenGraphImages } from '~/utils/images';

export interface Props extends MetaData {
	dontUseTitleTemplate?: boolean;
}

const {
	title,
	ignoreTitleTemplate = false,
} = Astro.props;

const defaultSeoProps: AstroSeoProps = {
	title: METADATA?.title?.default,
};

const seoProps: AstroSeoProps = merge({}, defaultSeoProps, {
	title,
});
---

<AstroSeo {...{ ...seoProps, openGraph: await adaptOpenGraphImages(seoProps.openGraph, Astro.site) }} />

<link rel="icon" type="image/png" href="https://banmaixanh.org/image/favicon/favicon.ico"/>

<meta name="title" content="Văn hay trong hiện tại, chữ tốt ở tương lai."/>

<title>Văn hay trong hiện tại, chữ tốt ở tương lai.</title>

<meta name="description" content="Viết là nuôi dưỡng niềm đam mê, chữ để ươm mầm điều yêu thích. Học và hoàn thiện kỹ năng mỗi ngày không mong gì hơn đó là điều duy nhất người ta nhớ để nhắc về."/>

<meta name="robots" content="index, follow"/>
<meta name="author" content="nhavantuonglai"/>

<meta property="og:title" content="Văn hay trong hiện tại, chữ tốt ở tương lai."/>
<meta property="og:description" content="Viết là nuôi dưỡng niềm đam mê, chữ để ươm mầm điều yêu thích. Học và hoàn thiện kỹ năng mỗi ngày không mong gì hơn đó là điều duy nhất người ta nhớ để nhắc về."/>

<meta property="og:image" content="https://banmaixanh.org/image/cover/001-053.jpg"/>
<meta property="og:image:alt" content="Viết là nuôi dưỡng niềm đam mê, chữ để ươm mầm điều yêu thích."/>

<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>

<meta property="og:url" content="https://nhavantuonglai.com/"/>
<meta property="og:type" content="website"/>

<meta property="og:locale" content="vi_VN"/>
<meta property="og:site_name" content="nhavantuonglai"/>

<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="Văn hay trong hiện tại, chữ tốt ở tương lai."/>
<meta name="twitter:description" content="Viết là nuôi dưỡng niềm đam mê, chữ để ươm mầm điều yêu thích. Học và hoàn thiện kỹ năng mỗi ngày không mong gì hơn đó là điều duy nhất người ta nhớ để nhắc về."/>
<meta name="twitter:image" content="https://banmaixanh.org/image/cover/001-053.jpg"/>
<meta name="twitter:image:alt" content="Viết là nuôi dưỡng niềm đam mê, chữ để ươm mầm điều yêu thích. Học và hoàn thiện kỹ năng mỗi ngày không mong gì hơn đó là điều duy nhất người ta nhớ để nhắc về."/>
<meta name="twitter:site" content="@nhavantuonglai"/>
<meta name="twitter:creator" content="@nhavantuonglai"/>