---
import { SITE } from 'nhavantuonglai:config';
---

<span class="self-center rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap">

	<img src="https://banmaixanh.vercel.app/image/favicon/favicon-a8c686.ico" width="50" height="50" alt="nhavantuonglai">
	<link href="https://banmaixanh.vercel.app/image/favicon/favicon-a8c686.ico" rel="shortcut icon" alt="nhavantuonglai">
	<link href="https://banmaixanh.vercel.app/image/favicon/favicon-a8c686.svg" rel="icon" type="image/svg+xml" alt="nhavantuonglai">
	<link href="https://banmaixanh.vercel.app/image/favicon/favicon-a8c686.svg" rel="mask-icon" color="#ff725e" alt="nhavantuonglai">
	<link href="https://banmaixanh.vercel.app/image/favicon/favicon-a8c686.png" rel="apple-touch-icon" sizes="180x180" alt="nhavantuonglai">

</span>