@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scrollbar-width: none;
	-ms-overflow-style: none;
}

html::-webkit-scrollbar {
	display: none;
}

@layer base {
	h1 {
	@apply text-5xl font-bold tracking-tighter dark:text-gray-200 hover:text-primary leading-[1.5] mb-6;
	}
	
	h2 {
	@apply text-4xl font-bold tracking-tighter dark:text-gray-200 hover:text-primary leading-[1.5] mb-6;
	}
	
	h3 {
	@apply text-2xl font-bold tracking-tighter dark:text-gray-200 hover:text-primary leading-[1.5] mb-6;
	}

	h4 {
	@apply text-2xl italic tracking-tighter dark:text-gray-200 leading-[1.5] mb-6;
	}

	p {
	@apply text-2xl dark:text-gray-200 leading-[1.5] mb-6 text-justify text-muted dark:text-slate-300;
	}

	a {
	@apply text-2xl dark:text-gray-200 leading-[1.5] text-justify text-muted dark:text-slate-300 hover:text-primary;
	}

}

@layer utilities {
	.bg-page {
	background-color: var(--aw-color-bg-page);
	}
	
	.text-page {
	color: var(--aw-color-text-page);
	}
	
	.text-muted {
	color: var(--aw-color-text-muted);
	}
}

@layer components {
	.btn {
	@apply inline-flex items-center justify-center
			 rounded-full border border-gray-400
			 bg-transparent font-medium
			 py-3.5 px-6 md:px-8
			 transition duration-200 ease-in cursor-pointer
			 hover:bg-gray-100 hover:border-gray-600
			 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-blue-200
			 dark:text-slate-300 dark:border-slate-500
			 dark:hover:bg-slate-800 dark:hover:border-slate-800;
	}

	.btn-primary {
	@apply btn font-semibold
			 bg-primary border-primary
			 hover:bg-secondary hover:border-secondary hover:text-white
			 dark:text-white dark:bg-primary dark:border-primary
			 dark:hover:border-secondary dark:hover:bg-secondary;
	}

	.btn-tertiary {
	@apply btn border-none shadow-none
			 hover:text-gray-900
			 dark:text-gray-400 dark:hover:text-white;
	}

	.faq-item .faq-answer {
	max-height: 0;
	opacity: 0;
	transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
	}

	.faq-item:hover .faq-answer {
	max-height: 500px;
	opacity: 1;
	transition: max-height 0.5s ease-in, opacity 0.3s ease-in;
	}
}

#header.scroll > div:first-child {
	@apply bg-page md:bg-white/90 md:backdrop-blur-md;
	box-shadow: 0 0.375rem 1.5rem 0 rgb(140 152 164 / 13%);
}

.dark #header.scroll > div:first-child,
#header.scroll.dark > div:first-child {
	@apply bg-page md:bg-[#030621e6] border-b border-gray-500/20;
	box-shadow: none;
}

[astro-icon] {
	&.icon-light > * {
	stroke-width: 1.2;
	}
	
	&.icon-bold > * {
	stroke-width: 2.4;
	}
}

[data-aw-toggle-menu] {
	path {
	@apply transition;
	}
	
	&.expanded g > path {
	&:first-child {
		@apply -rotate-45 translate-y-[15px] translate-x-[-3px];
	}
	
	&:last-child {
		@apply rotate-45 translate-y-[-8px] translate-x-[14px];
	}
	}
}

.dropdown:hover .dropdown-menu {
	display: block;
}

#index ul {
	@apply p-0 m-0 list-none;
}

.dd *:first-child {
	margin-top: 0;
}

.framer-motion {
	will-change: transform;
}

[data-motion] {
	view-timeline-name: --motion;
	view-timeline-axis: block;
	animation-timeline: --motion;
	animation-range: entry 25% cover 50%;
}