---
import '~/assets/styles/tailwind.css';

import { I18N } from 'nhavantuonglai:config';

import CommonMeta from '~/components/common/common-meta.astro';
import Favicons from '~/components/favicons.astro';
import CustomStyles from '~/components/custom-styles.astro';
import ApplyColorMode from '~/components/common/apply-color-mode.astro';
import Metadata from '~/components/common/metadata.astro';
import Analytics from '~/components/common/analytics.astro';
import Affiliate from '~/components/common/affiliate.astro';

import BasicScripts from '~/components/common/basic-scripts.astro';

import Schema from '~/components/common/schema.astro';

import type { MetaData as MetaDataType } from '~/types';

export interface Props {
	metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
---
<!doctype html>
<html lang={language} dir={textDirection} class="2xl:text-[20px]">
	<head>

		<Schema/>

		<CommonMeta/>

		<Favicons/>

		<CustomStyles/>

		<ApplyColorMode/>

		<Metadata {...metadata}/>

		<Analytics/>


	</head>

	<body class="antialiased text-default bg-page tracking-tight">
		<slot/>

		<BasicScripts/>

		<style is:global>
			img {
				content-visibility: auto;
			}
		</style>

	<Affiliate/>

	</body>
</html>