---
import '~/assets/tailwind.css';

const { title } = Astro.props;
---

<!DOCTYPE html>

<html lang="vi">

	<head>

		<meta charset="UTF-8">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Văn hay trong hiện tại, chữ tốt ở tương lai | nhavantuonglai</title>

		<link href="https://banmaixanh.org/image/favicon/favicon.svg" rel="icon" type="image/svg+xml">
		<link href="https://banmaixanh.org/image/favicon/favicon.svg" rel="mask-icon" color="#ff725e">
		<link href="https://banmaixanh.org/image/favicon/favicon.png" rel="apple-touch-icon" sizes="180x180">

		<script client:load>!function(e,t,a,n,g){e[n]=e[n]||[],e[n].push({"gtm.start":(new Date).getTime(),event:"gtm.js"});var m=t.getElementsByTagName(a)[0],r=t.createElement(a);r.async=!0,r.src="https://www.googletagmanager.com/gtm.js?id=GTM-WN6L7TJP",m.parentNode.insertBefore(r,m)}(window,document,"script","dataLayer")</script>

	</head>

	<body>

		<slot/>

		<iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-WN6L7TJP" style="display:none;visibility:hidden" width="0"></iframe>

	</body>

</html>