---
import { I18N } from 'nhavantuonglai:config';
import '~/assets/styles/tailwind.css';

import { getAsset } from '~/utils/permalinks';
import Metadata from '~/components/common/metadata.astro';

import BasicScripts from '~/components/javascript/basic.astro';
import Color from '~/components/javascript/color.astro';
import Analytics from '~/components/javascript/analytics.astro';
import Opentab from '~/components/javascript/open-tab.astro';
import Schema from '~/components/javascript/schema.astro';

import type { MetaData as MetaDataType } from '~/types';

export interface Props {
	metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
---

<!doctype html>

<html lang={language} dir={textDirection} class="2xl:text-[20px]">

	<head>

		<link rel="stylesheet" href="https://banmaixanh.org/javascript/style.css">

		<Schema/>

		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<link rel="sitemap" href={getAsset('/sitemap-0.xml')}/>

		<link href="https://banmaixanh.org/image/favicon/favicon.ico" rel="shortcut icon">
		<link href="https://banmaixanh.org/image/favicon/favicon.svg" rel="icon" type="image/svg+xml">
		<link href="https://banmaixanh.org/image/favicon/favicon.svg" rel="mask-icon" color="#ff725e">
		<link href="https://banmaixanh.org/image/favicon/favicon.png" rel="apple-touch-icon" sizes="180x180">

		<Color/>

		<Metadata {...metadata}
			<meta property="twitter:image" content="https://banmaixanh.org/image/cover/001-053.jpg">
			<meta property="twitter:card" content="https://banmaixanh.org/image/cover/001-053.jpg">
			<meta property="twitter:title" content="Văn hay trong hiện tại, chữ tốt ở tương lai.">
			<meta property="twitter:description" content="Viết là nuôi dưỡng niềm đam mê, chữ để ươm mầm điều yêu thích. Học và hoàn thiện kỹ năng mỗi ngày không mong gì hơn đó là điều duy nhất người ta nhớ để nhắc về.">
			<meta property="og:image" content="https://banmaixanh.org/image/cover/001-053.jpg">
		/>



		<Analytics/>

		<Opentab/>

	</head>

	<body class="antialiased text-default bg-page tracking-tight">

		<slot/>

		<BasicScripts/>

		<noscript>

			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WN6L7TJP"
			
				height="0" width="0" style="display:none;visibility:hidden">

			</iframe>

		</noscript>

		<style is:global>
			img {
				content-visibility: auto;
			}
		</style>

	</body>

</html>