---
import { I18N } from 'nhavantuonglai:config';

import '~/assets/tailwind.css';

import Meta from '~/components/common/meta.astro';
import Custom from '~/assets/custom.astro';
import Metadata from '~/components/common/metadata.astro';
import Schema from '~/components/javascript/schema.astro';
import Analytics from '~/components/javascript/analytics.astro';
import Opentab from '~/components/javascript/open-tab.astro';

import Anticopy from '~/components/article/anticopy.astro';

import Notification from '~/components/content/main/notification.astro';

import BasicScripts from '~/components/javascript/basic.astro';

import { useState, useEffect } from "react";

import type { MetaData as MetaDataType } from '~/types';

export interface Props {
	metadata?: MetaDataType;
}

const { metadata = {} } = Astro.props;
const { language, textDirection } = I18N;
---

<!doctype html>

<html lang={language} dir={textDirection} class="2xl:text-[20px]">

	<head>

		<Meta/>

		<Custom/>

		<Metadata {...metadata}/>

		<Schema/>

		<Analytics/>

		<link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" as="style">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">

		<Opentab/>

		<style is:inline>

			body {
			opacity: 0;
			transition: opacity 0.3s ease-out;
			}
			body:has(#loading-overlay) {
			overflow: hidden;
			}

		</style>

		<script is:inline>

			document.addEventListener('readystatechange', function() {
			if (document.readyState === 'interactive') {
				document.body.style.opacity = "1";
			}
			});

		</script>

	</head>

	<body class="antialiased text-default bg-page tracking-tight">

		<slot/>

		<Notification/>

		<Anticopy/>

		<BasicScripts/>

		<noscript>

			<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WN6L7TJP"
			
				height="0" width="0" style="display:none;visibility:hidden">

			</iframe>

		</noscript>

		<style is:global>
			img {
				content-visibility: auto;
			}
		</style>

	</body>

</html>