---
import { headerData, footerData } from '~/navigation';
import Layout from '~/layouts/main.astro';
import Header from '~/components/widgets/header.astro';
import Footer from '~/components/widgets/footer.astro';
import type { MetaData } from '~/types';

export interface Props {
	metadata?: MetaData;
	isSticky?: boolean;
	showToggleTheme?: boolean;
	breadcrumbSegments?: number;
}

const { metadata, isSticky = true, showToggleTheme = true, breadcrumbSegments = 2 } = Astro.props;
---

<Layout metadata={metadata}>

	<slot name="header">

		{headerData && (

			<Header {...headerData} isSticky={isSticky} showToggleTheme={showToggleTheme} breadcrumbSegments={breadcrumbSegments}/>

		)}

	</slot>

	<main>
		<slot/>
	</main>

	<slot name="footer">
		{footerData && <Footer {...footerData}/>}
	</slot>

</Layout>