---
import Layout from '~/layouts/layout.astro';
import Header from '~/components/widgets/header.astro';
import Footer from '~/components/widgets/footer.astro';
import { headerData, footerData } from '~/navigation';
import Notice from '~/components/widgets/notice.astro';


import type { MetaData } from '~/types';

export interface Props {
	metadata?: MetaData;
}

const { metadata } = Astro.props;
---

<Layout metadata={metadata}>

	<Notice/>

	<slot name="header">
		<Header {...headerData} isSticky showRssFeed showToggleTheme/>
	</slot>

	<main>
		<slot/>
	</main>

	<slot name="footer">
		<Footer {...footerData}/>
	</slot>

</Layout>